<div class="whiteContainer">
  <div class="row">
    <div class="col-12">
      <app-title [title]="'New request'" [bigTitle]="true"></app-title>
    </div>
    <div class="col-12 mt-5">
      <div class="formTable">
        <div class="row">
          <div class="col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Type Of marketing</mat-label>
              <mat-select (selectionChange)="getFormType($event)">
                <mat-option *ngFor="let option of formData.formType" [value]="option.id">
                  {{option.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Type Of registration</mat-label>
              <mat-select (selectionChange)="getRequestType($event)">
                <mat-option *ngFor="let option of formData.requestType" [value]="option.id">
                  {{option.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 mt-5"
               *ngIf="selectedFormType === 'regProduct' && (selectedRequestedType === 'referencedCountry' || selectedRequestedType === 'nonReferencedCountry' || selectedRequestedType === 'underLicenseReferenced')">
            <form class="mt-2" name="form" class="example-form" method="post"
                  [formGroup]="regProductFormForImportedFromRefCountry"
                  (ngSubmit)="onSubmit()" novalidate>
              <tabset type="pills" #formTabs>
                <tab heading="Products fields">
                  <div class="mt-5">
                    <app-title [smallTitle]="true" [title]="'Request Form'"></app-title>
                    <div class="row mt-3">
                      <div class="col-sm-6">
                        <mat-form-field class="example-full-width">
                          <mat-label>Product Name (Arabic)</mat-label>
                          <input type="text" class="form-control" matInput formControlName="productArabicName"
                                 placeholder="Product Name">
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field class="example-full-width">
                          <mat-label>Product Name (English)</mat-label>
                          <input type="text" class="form-control" matInput formControlName="productEnglishName"
                                 placeholder="Product Name" required>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('productEnglishName').invalid && (regProductFormForImportedFromRefCountry.get('productEnglishName').dirty || regProductFormForImportedFromRefCountry.get('productEnglishName').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('productEnglishName').errors.required">
                              this field is required
                            </div>
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('productEnglishName').errors.pattern">
                              this field must be in English
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-12 mt-3 mb-3">
                        <div class="ShortNameFieldContainer" formArrayName="shortName">
                          <div class="row">
                            <div class="col-12 d-flex align-items-center flex-column flex-sm-row">
                              <app-title [title]="'Short Name Field'" [smallTitle]="true"></app-title>
                              <button type="button" class="btn btn-primary btn-sm mb-3 ml-sm-auto mt-3 mt-sm-0 addBtn"
                                      (click)="addShortName()">
                                Add Short Name
                              </button>
                            </div>
                            <div *ngIf="removeShortNameFieldStatus" class="alert alert-danger RelativeAlert">
                              you must have at least one field
                            </div>
                            <div class="col-sm-3" *ngFor="let shortNameList of ShortName.controls; let i=index">
                              <mat-form-field class="example-full-width">
                                <mat-label>Short Name</mat-label>
                                <input type="text" class="form-control" matInput [formControlName]="i"
                                       placeholder="Short Name">
                                <button type="button" (click)="removeShortName(i)" class="close">Remove</button>
                                <div *ngIf="ShortName.controls[i].errors?.pattern" class="alert alert-danger">
                                  this field must be in English
                                </div>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field appearance="fill">
                          <mat-label>Manufacturing Company</mat-label>
                          <mat-select formControlName="manufacturingCompany" required>
                            <mat-option *ngFor="let company of formData.manufacturingCompanyList" [value]="company">
                              {{company}}
                            </mat-option>
                          </mat-select>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('manufacturingCompany').invalid && (regProductFormForImportedFromRefCountry.get('manufacturingCompany').dirty || regProductFormForImportedFromRefCountry.get('manufacturingCompany').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('manufacturingCompany').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field appearance="fill">
                          <mat-label>Manufacturing Country</mat-label>
                          <mat-select formControlName="manufacturingCountry" required>
                            <mat-option *ngFor='let country of formData.manufacturingCountryList' [value]="country">
                              {{country}}
                            </mat-option>
                          </mat-select>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('manufacturingCountry').invalid && (regProductFormForImportedFromRefCountry.get('manufacturingCountry').dirty || regProductFormForImportedFromRefCountry.get('manufacturingCountry').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('manufacturingCountry').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field appearance="fill">
                          <mat-label>Applicant</mat-label>
                          <mat-select formControlName="applicant" required>
                            <mat-option *ngFor='let applicant of formData.ApplicantList' [value]="applicant">
                              {{applicant}}
                            </mat-option>
                          </mat-select>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('applicant').invalid && (regProductFormForImportedFromRefCountry.get('applicant').dirty || regProductFormForImportedFromRefCountry.get('applicant').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('applicant').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field appearance="fill">
                          <mat-label>License Holder</mat-label>
                          <mat-select formControlName="licenseHolder" required>
                            <mat-option *ngFor='let licHolder of formData.licenseHolderList' [value]="licHolder">
                              {{licHolder}}
                            </mat-option>
                          </mat-select>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('licenseHolder').invalid && (regProductFormForImportedFromRefCountry.get('licenseHolder').dirty || regProductFormForImportedFromRefCountry.get('licenseHolder').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('licenseHolder').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4"
                           *ngIf="regProductFormForImportedFromRefCountry.get('licenseHolder').value === 'other'">
                        <mat-form-field class="example-full-width inputBesideSelect">
                          <mat-label>Other License Holder</mat-label>
                          <input type="text" class="form-control" matInput formControlName="licenseHolderTxt"
                                 placeholder="Other License Holder" required>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('licenseHolderTxt').invalid && (regProductFormForImportedFromRefCountry.get('licenseHolderTxt').dirty || regProductFormForImportedFromRefCountry.get('licenseHolderTxt').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('licenseHolderTxt').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field appearance="fill">
                          <mat-label>Country of License Holder</mat-label>
                          <mat-select formControlName="countryOfLicenseHolder" required>
                            <mat-option *ngFor='let country of formData.licenseHolderCountryList' [value]="country">
                              {{country}}
                            </mat-option>
                          </mat-select>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('countryOfLicenseHolder').invalid && (regProductFormForImportedFromRefCountry.get('countryOfLicenseHolder').dirty || regProductFormForImportedFromRefCountry.get('countryOfLicenseHolder').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('countryOfLicenseHolder').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field class="example-full-width inputBesideSelect">
                          <mat-label>Trade Mark</mat-label>
                          <input type="text" class="form-control" matInput formControlName="tradeMark"
                                 placeholder="Trade Mark">
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field appearance="fill">
                          <mat-label>Physical State</mat-label>
                          <mat-select formControlName="physicalState" required>
                            <mat-option *ngFor='let state of formData.physicalStateList' [value]="state">
                              {{state}}
                            </mat-option>
                          </mat-select>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('physicalState').invalid && (regProductFormForImportedFromRefCountry.get('physicalState').dirty || regProductFormForImportedFromRefCountry.get('physicalState').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('physicalState').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4"
                           *ngIf="regProductFormForImportedFromRefCountry.get('physicalState').value === 'other'">
                        <mat-form-field class="example-full-width inputBesideSelect">
                          <mat-label>Other Physical State</mat-label>
                          <input type="text" class="form-control" matInput formControlName="physicalStateTxt"
                                 placeholder="Other Physical State" required>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('physicalStateTxt').invalid && (regProductFormForImportedFromRefCountry.get('physicalStateTxt').dirty || regProductFormForImportedFromRefCountry.get('physicalStateTxt').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('physicalStateTxt').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field appearance="fill">
                          <mat-label>Purpose of use</mat-label>
                          <mat-select formControlName="purposeOfUse" required>
                            <mat-option *ngFor='let purpose of formData.purposeOfUseList' [value]="purpose">
                              {{purpose}}
                            </mat-option>
                          </mat-select>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('purposeOfUse').invalid && (regProductFormForImportedFromRefCountry.get('purposeOfUse').dirty || regProductFormForImportedFromRefCountry.get('purposeOfUse').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('purposeOfUse').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4"
                           *ngIf="regProductFormForImportedFromRefCountry.get('purposeOfUse').value === 'other'">
                        <mat-form-field class="example-full-width inputBesideSelect">
                          <mat-label>Other Purpose of use</mat-label>
                          <input type="text" class="form-control" matInput formControlName="purposeOfUseTxt"
                                 placeholder="Other Purpose of use" required>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('purposeOfUseTxt').invalid && (regProductFormForImportedFromRefCountry.get('purposeOfUseTxt').dirty || regProductFormForImportedFromRefCountry.get('purposeOfUseTxt').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('purposeOfUseTxt').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Shelf Life</label>
                          <input class="form-control" type="range" min="0" max="10" formControlName="shelfLife">
                          <span class="labelForRange">{{regProductFormForImportedFromRefCountry.get('shelfLife').value}}
                            years</span>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field appearance="fill">
                          <mat-label>Type of Packaging</mat-label>
                          <mat-select formControlName="typeOfPackaging" required>
                            <mat-option *ngFor='let type of formData.typeOfPackagingList' [value]="type">
                              {{type}}
                            </mat-option>
                          </mat-select>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('typeOfPackaging').invalid && (regProductFormForImportedFromRefCountry.get('typeOfPackaging').dirty || regProductFormForImportedFromRefCountry.get('typeOfPackaging').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('typeOfPackaging').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field class="example-full-width inputBesideSelect">
                          <mat-label>Receipt Number</mat-label>
                          <input type="text" class="form-control" matInput formControlName="receiptNumber"
                                 placeholder="Receipt Number" required>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('receiptNumber').invalid && (regProductFormForImportedFromRefCountry.get('receiptNumber').dirty || regProductFormForImportedFromRefCountry.get('receiptNumber').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('receiptNumber').errors.required">
                              this field is required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field class="example-full-width inputBesideSelect">
                          <mat-label>Receipt Value</mat-label>
                          <input type="text" class="form-control" matInput formControlName="receiptValue"
                                 placeholder="Receipt Value" required>
                          <div
                            *ngIf="regProductFormForImportedFromRefCountry.get('receiptValue').invalid && (regProductFormForImportedFromRefCountry.get('receiptValue').dirty || regProductFormForImportedFromRefCountry.get('receiptValue').touched)"
                            class="alert alert-danger">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('receiptValue').errors.required">
                              this field is required
                            </div>
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get('receiptValue').errors.pattern">
                              this field must be <strong>Decimal number</strong> as 00.0
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>Packaging Description</mat-label>
                          <textarea matInput formControlName="packagingDescription"
                                    placeholder="Ex. It makes me feel..."></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </tab>
                <tab heading="Details fields">
                  <div class="mt-5">
                    <div formArrayName="detailsTable" class="detailsTable">
                      <div class="d-flex align-items-center">
                        <app-title [smallTitle]="true" [title]="'Details table'"></app-title>

                        <button type="button" class="btn btn-primary ml-auto" (click)="addDetailsRows()">
                          add details row
                        </button>
                      </div>
                      <div class="table-responsive mt-5">
                        <table class="table table-sm table-ordered">
                          <tr *ngFor="let row of DetailsRows.controls; let i=index" [formGroupName]="i">
                            <td colspan="5">
                              <mat-accordion>
                                <mat-expansion-panel class="areaContainer"
                                                     [expanded]="status"
                                                     hideToggle
                                                     disabled="true">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      <table class="table table-sm tableDetailsCont">
                                        <tr>
                                          <td>
                                            <mat-form-field class="example-full-width">
                                              <mat-label>Colour</mat-label>
                                              <input type="text" class="form-control" matInput formControlName="colour"
                                                     placeholder="">
                                            </mat-form-field>
                                          </td>
                                          <td>
                                            <mat-form-field class="example-full-width">
                                              <mat-label>Fragrance</mat-label>
                                              <input type="text" class="form-control" matInput
                                                     formControlName="fragrance"
                                                     placeholder="">
                                            </mat-form-field>
                                          </td>
                                          <td>
                                            <mat-form-field class="example-full-width">
                                              <mat-label>Flavor</mat-label>
                                              <input type="text" class="form-control" matInput formControlName="flavor"
                                                     placeholder="">
                                            </mat-form-field>
                                          </td>
                                          <td>
                                            <mat-form-field class="example-full-width">
                                              <mat-label>BarCode</mat-label>
                                              <input type="text" class="form-control" matInput formControlName="barCode"
                                                     placeholder="">
                                            </mat-form-field>
                                          </td>
                                          <td>
                                            <mat-form-field class="example-full-width">
                                              <mat-label>Volumes</mat-label>
                                              <input type="text" class="form-control" matInput formControlName="volumes"
                                                     placeholder="" required>
                                              <div
                                                *ngIf="row.get('volumes').invalid && (row.get('volumes').dirty || row.get('volumes').touched)"
                                                class="alert alert-danger">
                                                <div
                                                  *ngIf="row.get('volumes').errors.required">
                                                  this field is required
                                                </div>
                                              </div>
                                            </mat-form-field>
                                          </td>
                                          <td>
                                            <mat-form-field appearance="fill">
                                              <mat-label>Unit of measure</mat-label>
                                              <mat-select formControlName="unitOfMeasure" required>
                                                <mat-option *ngFor='let unit of formData.unitOfMeasureList'
                                                            [value]="unit">
                                                  {{unit}}
                                                </mat-option>
                                              </mat-select>
                                              <div
                                                *ngIf="row.get('unitOfMeasure').invalid && (row.get('unitOfMeasure').dirty || row.get('unitOfMeasure').touched)"
                                                class="alert alert-danger">
                                                <div
                                                  *ngIf="row.get('unitOfMeasure').errors.required">
                                                  this field is required
                                                </div>
                                              </div>
                                            </mat-form-field>
                                          </td>
                                          <td>
                                             <span class="remove" (click)="removeDetailsRows(i)">
                                              <i class="fa fa-trash"></i>
                                            </span>

                                          </td>
                                          <td>
                                            <span class="expandIcon" (click)="setStep(status)">
                                              <i *ngIf="!status" class="fa fa-chevron-down"></i>
                                              <i *ngIf="status" class="fa fa-chevron-up"></i>
                                            </span>
                                          </td>
                                        </tr>
                                      </table>
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <div class="detailsContainer pt-4">
                                    <div class="row mt-3">
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="fill">
                                          <mat-label>Ingrediant</mat-label>
                                          <mat-select formControlName="ingrediant" required>
                                            <mat-option *ngFor='let ingrediantItem of formData.ingrediantList'
                                                        [value]="ingrediantItem">
                                              {{ingrediantItem}}
                                            </mat-option>
                                          </mat-select>
                                          <div
                                            *ngIf="row.get('ingrediant').invalid && (row.get('ingrediant').dirty || row.get('ingrediant').touched)"
                                            class="alert alert-danger">
                                            <div
                                              *ngIf="row.get('ingrediant').errors.required">
                                              this field is required
                                            </div>
                                          </div>
                                        </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field class="example-full-width inputBesideSelect">
                                          <mat-label>Concentrations</mat-label>
                                          <input type="text" class="form-control" matInput
                                                 formControlName="concentrations"
                                                 placeholder="concentrations" required>

                                          <div
                                            *ngIf="row.get('concentrations').invalid && (row.get('concentrations').dirty || row.get('concentrations').touched)"
                                            class="alert alert-danger">
                                            <div
                                              *ngIf="row.get('concentrations').errors.required">
                                              this field is required
                                            </div>
                                          </div>
                                        </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="fill">
                                          <mat-label>Function</mat-label>
                                          <mat-select formControlName="function" required>
                                            <mat-option *ngFor='let functiontItem of formData.functionList'
                                                        [value]="functiontItem">
                                              {{functiontItem}}
                                            </mat-option>
                                          </mat-select>
                                          <div
                                            *ngIf="row.get('function').invalid && (row.get('function').dirty || row.get('function').touched)"
                                            class="alert alert-danger">
                                            <div
                                              *ngIf="row.get('function').errors.required">
                                              this field is required
                                            </div>
                                          </div>
                                        </mat-form-field>
                                      </div>
                                    </div>
                                  </div>
                                </mat-expansion-panel>
                              </mat-accordion>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </tab>
                <tab heading="Attachments">
                  <div class="mt-5">
                    <app-title [smallTitle]="true" [title]="'Attachement'"></app-title>
                    <div class="row mt-3">
                      <div class="col-sm-4" *ngFor="let field of attachmentFields">
                        <div class="form-group">
                          <label>{{field.name}}</label>
                          <div class="custom-file fileUpload mr-3" id="customFile">
                            <input type="file" class="custom-file-input" id="dataUpload_upload_file"
                                   aria-describedby="fileHelp"
                                   [innerText]="regProductFormForImportedFromRefCountry.get(field.id).value"
                                   (change)="onFileSelect($event, field.id)"
                                   [required]="field.required">
                            <div
                              *ngIf="regProductFormForImportedFromRefCountry.get(field.id).invalid && (regProductFormForImportedFromRefCountry.get(field.id).dirty || regProductFormForImportedFromRefCountry.get(field.id).touched)"
                              class="alert alert-danger">
                              <div
                                *ngIf="regProductFormForImportedFromRefCountry.get(field.id).errors.required">
                                this field is required
                              </div>
                            </div>
                            <label class="custom-file-label" for="dataUpload_upload_file">
                              {{regProductFormForImportedFromRefCountry.get(field.id).value ? regProductFormForImportedFromRefCountry.get(field.id).value.name : 'Choose file'}}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tab>
              </tabset>
              <div class="row buttonContainer">
                <div class="col-12 d-flex mt-3">
                  <button *ngIf="!formTabs.tabs[0].active"
                          type="button"
                          class="btn btn-primary btn-sm mr-3"
                          (click)="backToNextTab()">
                    Back Forward
                  </button>
                  <div class="ml-auto">
                    <button *ngIf="!formTabs.tabs[2].active"
                            type="button"
                            class="btn btn-primary btn-sm mr-3"
                            (click)="nextToNextTab()">
                      Next Forward
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-sm mr-3"
                            (click)="saveData()">
                      Save
                    </button>
                    <button
                      *ngIf="formTabs.tabs[2].active"
                      type="submit"
                      class="btn btn-primary btn-sm"
                      [disabled]="!regProductFormForImportedFromRefCountry.valid">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
