<div class="whiteContainer">
  <div class="row">
    <div class="col-12">
      <app-title [title]="'New request'" [bigTitle]="true"></app-title>
    </div>
    <div class="col-12 mt-5">
      <div class="formTable">
        <div class="row">
          <div class="col-sm-4 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Type Of marketing</mat-label>
              <mat-select (selectionChange)="getFormType($event)" [(ngModel)]="this.selectedFormType">
                <mat-option *ngFor="let option of formData.formType" [value]="option.ID">
                  {{option.MARKETING_TYPE}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Type Of registration</mat-label>
              <mat-select (selectionChange)="getRequestType($event)" [(ngModel)]="this.selectedRequestedType">
                <mat-option *ngFor="let option of formData.requestType" [value]="option.ID">
                  {{option.REGISTRATION_TYPE}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Track Type</mat-label>
              <mat-select (selectionChange)="getTrackType($event)" [(ngModel)]="this.selectedTrackType">
                <mat-option *ngFor="let option of formData.trackType" [value]="option.ID">
                  {{option.TRACK_TYPE_NAME}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 mt-5" *ngIf="selectedFormType === 1 && selectedRequestedType">
            <app-product-request-form
              [selectedRequestedType]="selectedRequestedType"
              [selectedFormType]="selectedFormType"
              [successSubmission]="successSubmission"
              [lookupsData]="formData"
              (saveDataOutput)="saveData($event)"
              (submitDataOutput)="onSubmit($event)"
            ></app-product-request-form>
          </div>
          <div class="col-12 mt-5" *ngIf="selectedFormType === 2 && selectedRequestedType">
            <app-products-kit-request-form
              [selectedRequestedType]="selectedRequestedType"
              [selectedFormType]="selectedFormType"
              [successSubmission]="successSubmission"
              [lookupsData]="formData"
              (saveDataOutput)="saveData($event)"
              (submitDataOutput)="onSubmit($event)"
            ></app-products-kit-request-form>
          </div>
          <div class="col-12 mt-5"
               *ngIf="selectedFormType === 3 && selectedRequestedType">
            <app-products-hair-colour-request-form
              [selectedRequestedType]="selectedRequestedType"
              [successSubmission]="successSubmission"
              [lookupsData]="formData"
              (saveDataOutput)="saveData($event)"
              (submitDataOutput)="onSubmit($event)"
            ></app-products-hair-colour-request-form>
          </div>
          <div class="col-12 mt-5" *ngIf="selectedFormType === 4 && selectedRequestedType">
            <app-products-kit-hair-colour-request-form
              [selectedRequestedType]="selectedRequestedType"
              [selectedFormType]="selectedFormType"
              [successSubmission]="successSubmission"
              [lookupsData]="formData"
              (saveDataOutput)="saveData($event)"
              (submitDataOutput)="onSubmit($event)"
            ></app-products-kit-hair-colour-request-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<alert type="success" (onClosed)="onClosed()" *ngIf="alertNotificationStatus">
  <strong>Thank You</strong> <br> {{alertNotification.msg}}
</alert>

<div class="loadingContainer" *ngIf="isloading">
  <mat-spinner mode="indeterminate"></mat-spinner>
</div>
