<div class="footerContainer">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-3 logo-img">
      <div class="logo" >
        <img src="assets/img/logoFooter.png" >
      </div>
    </div>
    <!-- <div class="col-2"></div> -->
    <div class="col-9 social">
      <div class="row">
        <div class="col-12 p-0 pt-3 pb-3">
          <div class="text-right">
            <div class="socialMediaList">
              <ul>
                <li *ngFor="let icon of socialMediaList">
                  <a href="#" target="_blank">
                    <span>
                      <i class="{{icon}}"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="phoneNumberContainer">
              <span>
                <i class="fas fa-phone-volume"></i>
              </span>
              <span> 19181</span>
            </div>
<!--            <div class="changeLang">-->
<!--              <div class="form-group">-->
<!--                <select class="form-control" id="exampleFormControlSelect1">-->
<!--                  <option>En</option>-->
<!--                  <option>Ar</option>-->
<!--                </select>-->
<!--              </div>-->
<!--            </div>-->
            <div class="emailIcon">
              <a href="mailto: mahmoud.must@hotmail.com" target="_blank">
                <span>
                 <i class="fas fa-envelope"></i>
                </span>
                <span> eda@gmail.com</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
