<div class="whiteContainer">
  <div class="row">
    <div class="col-12">
      <app-title [title]="productId ? 'Edit Request for Inspection':'Create request for Inspection'"
                 [bigTitle]="true"></app-title>
    </div>
    <div class="col-12 mt-5">
      <div class="formTable">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Product type</mat-label>
              <mat-select (selectionChange)="getFormType($event)" [(ngModel)]="selectedFormType">
                <mat-option *ngFor="let option of formData.formType" [value]="option.ID">
                  {{option.NAME}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Type Of License</mat-label>
              <mat-select (selectionChange)="getFieldsType($event)" [(ngModel)]="selectedFieldsType">
                <mat-option *ngFor="let option of formData.fieldsType" [value]="option.ID">
                  {{option.NAME}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width">
              <mat-label>Estimated Value</mat-label>
              <input type="text" class="form-control" matInput [(ngModel)]="estimatedValue"
                     placeholder="Estimated Value"
                     [readonly]="true">
            </mat-form-field>
          </div>
          <div class="col-12 mt-5" *ngIf="selectedFormType === 1 && selectedFieldsType">
            <app-inspection-final-product [fieldsType]=" selectedFieldsType"
                                          [successSubmission]="successSubmission"
                                          (saveDataOutput)="saveData($event)"
                                          (submitDataOutput)="saveData($event)"
            ></app-inspection-final-product>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<alert type="success" (onClosed)="onClosed()" *ngIf="alertNotificationStatus">
  <strong>Thank You</strong> <br> {{alertNotification.msg}}
</alert>

<alert type="danger" class="AlertForAllRequests" dismissible="true" (onClosed)="onClosedErrorAlert()"
       *ngIf="alertErrorNotificationStatus">
  <strong>Error Message</strong> <br> {{alertErrorNotification.msg}}
</alert>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>
