<div class="whiteContainer reregistrationContainer">
  <div class="row">
    <div class="col-12">
      <app-title [title]="'Create request for Legacy'" [bigTitle]="true"></app-title>
    </div>
    <div class="col-12 mt-5">
      <div class="formTable">
        <div class="row">
          <div class="col-12 mt-5" *ngIf="productData && productData.typeOfMarketing === 1 ">
            <app-product-request-form
              [lookupsData]="formData"
              [editData]="productData"
              [legacyStatus]="true"
              (saveDataOutput)="onSave($event)"
              (submitDataOutput)="onSubmit($event)"
            ></app-product-request-form>
          </div>
          <div class="col-12 mt-5"
               *ngIf="productData && productData.typeOfMarketing === 3">
            <app-products-hair-colour-request-form
              [lookupsData]="formData"
              [editData]="productData"
              (saveDataOutput)="onSave($event)"
              (submitDataOutput)="onSubmit($event)"
            ></app-products-hair-colour-request-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<alert type="success" (onClosed)="onClosed()" *ngIf="alertNotificationStatus">
  <strong>Thank You</strong> <br> {{alertNotification.msg}}
</alert>

<alert type="danger" dismissible="true" class="AlertForAllRequests" (onClosed)="onClosedErrorAlert()"
       *ngIf="alertErrorNotificationStatus">
  <strong>Error Message</strong> <br> {{alertErrorNotification.msg}}
</alert>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>
