<div class=" loginContainer">
    <mat-card>
        <div class="formContainer container">
            <div class="space"></div>
            <mat-card-content class="loginFormContainer">

                <form [formGroup]="form" (ngSubmit)="submit()">
                    <img src="../../assets/img/logo.png" class="image">
                    <img src="../../assets/img/favicon.png" class="image2">
                    <p>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Username" formControlName="username">
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field>
                            <input class="M" type="password" matInput placeholder="Password" formControlName="password">
                        </mat-form-field>
                    </p>

                    <p *ngIf="error" class="error">
                        {{ error }}
                    </p>

                    <div class="button">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>

                </form>
            </mat-card-content>
        </div>
    </mat-card>
</div>