<div class="whiteContainer">
  <div class="row">
    <div class="col-12">
      <app-title [title]="'Track request for Re-Notification'" [bigTitle]="true"></app-title>
    </div>
    <div class="col-12 mt-5">
      <div class="tableContainer TrackTable">
        <app-table-list [data]="trackReRegistrationListRequests" [whichTable]="'track'"></app-table-list>
      </div>
    </div>
  </div>
</div>

<alert type="danger" dismissible="true" class="AlertForAllRequests" (onClosed)="onClosedErrorAlert()" *ngIf="alertErrorNotificationStatus">
  <strong>Error Message</strong> <br> {{alertErrorNotification.msg}}
</alert>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>
