<div class="whiteContainer reregistrationContainer">
  <div class="row">
    <div class="col-12">
      <app-title [title]="'Create request for Re-Notification'" [bigTitle]="true"></app-title>
    </div>
    <div class="col-12 mt-5">
      <div class="formTable">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="row">
              <div class="col-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Product Notification Number</mat-label>
                  <input type="text" class="form-control" matInput
                         [(ngModel)]="NotificationNo"
                         placeholder="">
                </mat-form-field>
              </div>
              <div class="col-6 d-flex">
                <button type="button"
                        class="btn btn-primary ml-auto mt-sm-4 mb-3"
                        [disabled]="!NotificationNo"
                        (click)="applyProduct(NotificationNo)">
                  Get Product
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width">
              <mat-label>Estimated Value</mat-label>
              <input type="text" class="form-control" matInput [(ngModel)]="estimatedValue"
                     placeholder="Estimated Value"
                     [readonly]="true">
            </mat-form-field>
          </div>
          <div class="col-12 mt-3" *ngIf="productData">
            <div class="row">
              <div class="col-lg-4 col-sm-6 col-12">
                <mat-form-field appearance="fill">
                  <mat-label>Type Of Notification</mat-label>
                  <mat-select [(ngModel)]="this.selectedFormType" required
                              [disabled]="true">
                    <mat-option *ngFor="let option of formData.formType" [value]="option.ID">
                      {{option.NAME}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="row">
                  <div class="col-12 col-sm-9">
                    <mat-form-field appearance="fill">
                      <mat-label>Type Of Marketing</mat-label>
                      <mat-select [(ngModel)]="selectedRequestedType" required [disabled]="true">
                        <mat-option *ngFor="let option of formData.requestType" [value]="option.ID">
                          {{option.NAME}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-sm-3">
                    <section class="example-section mt-4">
                      <mat-checkbox class="example-margin"
                                    [(ngModel)]="selectedIsExport"
                                    [disabled]="true">
                        Export only
                      </mat-checkbox>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-5" *ngIf="productData && productData.typeOfMarketing === 1 ">
            <app-product-request-form
              [editData]="this.productData"
              [lookupsData]="formData"
              [companyProfile]="companyProfileId"
              [reRegistrationStatus]="true"
              (submitDataOutput)="onSubmit($event)"
              (errorMessage)="showAlertMessager($event)"
              (isLoadingStatus)="enableLoadingForAttachment($event)"
            ></app-product-request-form>
          </div>
          <div class="col-12 mt-5"
               *ngIf="productData && productData.typeOfMarketing === 3">
            <app-products-hair-colour-request-form
              [editData]="this.productData"
              [lookupsData]="formData"
              [reRegistrationStatus]="true"
              (submitDataOutput)="onSubmit($event)"
              (errorMessage)="showAlertMessager($event)"
              (isLoadingStatus)="enableLoadingForAttachment($event)"
            ></app-products-hair-colour-request-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<alert type="success" (onClosed)="onClosed()" *ngIf="alertNotificationStatus">
  <strong>Thank You</strong> <br> {{alertNotification.msg}}
</alert>

<alert type="danger" dismissible="true" class="AlertForAllRequests" (onClosed)="onClosedErrorAlert()"
       *ngIf="alertErrorNotificationStatus">
  <strong>Error Message</strong> <br> {{alertErrorNotification.msg}}
</alert>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>
