<div class="whiteContainer">
  <div class="row">
    <div class="col-12">
      <app-title [title]="'Track Legacy products'" [bigTitle]="true"></app-title>
    </div>
    <div class="col-12 mt-5">
      <div class="tableContainer ApprovedTable">
        <app-table-list [data]="tackLegacyListRequests" [whichTable]="'trackLegacyRequest'"></app-table-list>
      </div>
    </div>
  </div>
</div>

<alert type="danger" dismissible="true" class="AlertForAllRequests" (onClosed)="onClosedErrorAlert()" *ngIf="alertErrorNotificationStatus">
  <strong>Please Take Care</strong> <br> {{alertErrorNotification.msg}}
</alert>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>
