<form class="mt-2" name="form" class="example-form" method="post"
      [formGroup]="regKitForAllRequestedType"
      (ngSubmit)="onSubmit()" novalidate>
  <tabset type="pills" #formTabs>
    <tab heading="Products fields">
      <div class="mt-5">
        <div class="row">
          <div class="col-12">
            <app-title [smallTitle]="true" [title]="'Notification Kit Request'"></app-title>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6">
            <mat-form-field class="example-full-width">
              <mat-label>Product Name (Arabic)</mat-label>
              <input type="text" class="form-control" matInput formControlName="productArabicName"
                     placeholder="Product Name"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('productArabicName') : true : legacyStatus? productFlags && !productFlags.productArabicName ? true : false : isDraft ? false : productFlags && !productFlags.productArabicName ? true : false">
              <div
                *ngIf="regKitForAllRequestedType.get('productArabicName').invalid && (regKitForAllRequestedType.get('productArabicName').dirty || regKitForAllRequestedType.get('productArabicName').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('productArabicName').errors.pattern">
                  this field must be in Arabic
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field class="example-full-width">
              <mat-label>Product Name (English)</mat-label>
              <input type="text" class="form-control" matInput formControlName="productEnglishName"
                     placeholder="Product Name" required
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('productEnglishName') : true : legacyStatus? productFlags && !productFlags.productEnglishName ? true : false : isDraft ? false : productFlags && !productFlags.productEnglishName ? true : false">

              <div
                *ngIf="regKitForAllRequestedType.get('productEnglishName').invalid && (regKitForAllRequestedType.get('productEnglishName').dirty || regKitForAllRequestedType.get('productEnglishName').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('productEnglishName').errors.required">
                  this field is required
                </div>
                <div
                  *ngIf="regKitForAllRequestedType.get('productEnglishName').errors.pattern">
                  this field must't start with Number and must be in English
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-12 mt-3 mb-3">
            <div class="ShortNameFieldContainer" formArrayName="shortName">
              <div class="row">
                <div class="col-12 d-flex align-items-center flex-column flex-sm-row">
                  <app-title [title]="'Short Name Field'" [smallTitle]="true"></app-title>
                  <button type="button" class="btn btn-primary btn-sm mb-3 ml-sm-auto mt-3 mt-sm-0 addBtn"
                          [disabled]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('shortName') : true : legacyStatus? true : (isDraft && (selectedRequestedType === 7 || selectedRequestedType === 8 || selectedRequestedType === 9)) ? false : productFlags && !productFlags.shortName ? true : (selectedRequestedType !== 7 && selectedRequestedType !== 8 && selectedRequestedType !== 9) ? true : false"
                          (click)="addShortName()">
                    Add Short Name
                  </button>
                </div>
                <div *ngIf="removeShortNameFieldStatus" class="alert alert-danger RelativeAlert">
                  you must have at least one field
                </div>
                <div *ngIf="addShortNameFieldStatus" class="alert alert-danger RelativeAlert">
                  you can't add more than 10 fields
                </div>
                <div class="col-lg-3 col-sm-6 col-12" *ngFor="let shortNameList of ShortName.controls; let i=index">
                  <mat-form-field class="example-full-width">
                    <div *ngIf="productComments && productComments.shortName"
                         class="InfoIconContainer">
                      <span class="infoIcon" tooltip="{{productComments['shortName']}}"
                            placement="top">
                        <i class="fas fa-info-circle"></i>
                      </span>
                    </div>
                    <mat-label>Short Name</mat-label>
                    <input type="text" class="form-control" matInput [formControlName]="i"
                           placeholder="Short Name"
                           [required]=" !legacyStatus ? 'required': false"
                           [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('shortName') : true : legacyStatus? true : isDraft ? false : productFlags && !productFlags.shortName ? true : false">
                    <button type="button"
                            [disabled]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('shortName') : true : legacyStatus? true : (isDraft && (selectedRequestedType === 7 || selectedRequestedType === 8 || selectedRequestedType === 9)) ? false : productFlags && !productFlags.shortName ? true : (selectedRequestedType !== 7 && selectedRequestedType !== 8 && selectedRequestedType !== 9) ? true : false"
                            (click)="removeShortName(i)"
                            class="close">Remove
                    </button>
                    <div *ngIf="ShortName.controls[i].errors?.pattern" class="alert alert-danger">
                      This Field must not be arabic and must be two words
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12" *ngIf="selectedFormType === 4">
            <mat-form-field appearance="fill">
              <mat-label>Product Color</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="Product Color"
                     aria-label="Product Color"
                     matInput
                     formControlName="productColor"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('productColor') : true : legacyStatus? productFlags && !productFlags.productColor ? true : false : isDraft ? false : productFlags && !productFlags.productColor ? true : false"
                     [matAutocomplete]="productColorList" required>
              <mat-autocomplete #productColorList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsForProductColor | async"
                            [value]="option.NAME">
                  {{option.NAME}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Manufacturing Company</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="Manufacturing Company"
                     aria-label="Manufacturing Company"
                     matInput
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('manufacturingCompany') : true : legacyStatus? productFlags && !productFlags.manufacturingCompany ? true : false : isDraft ? false : productFlags && !productFlags.manufacturingCompany ? true : false"
                     formControlName="manufacturingCompany"
                     [matAutocomplete]="manufacturingCompanyList" required>
              <mat-autocomplete #manufacturingCompanyList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsForManufacturingCompany | async"
                            [value]="option.NAME">
                  {{option.NAME}}
                </mat-option>
              </mat-autocomplete>
              <div
                *ngIf="regKitForAllRequestedType.get('manufacturingCompany').invalid && (regKitForAllRequestedType.get('manufacturingCompany').dirty || regKitForAllRequestedType.get('manufacturingCompany').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('manufacturingCompany').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Manufacturing Country</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="Manufacturing Country"
                     aria-label="Manufacturing Country"
                     matInput
                     formControlName="manufacturingCountry"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('manufacturingCountry') : true : legacyStatus? productFlags && !productFlags.manufacturingCountry ? true : false : isDraft ? false : productFlags && !productFlags.manufacturingCountry ? true : false"
                     [matAutocomplete]="manufacturingCountryList" required>
              <mat-autocomplete #manufacturingCountryList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsForManufacturingCountry | async"
                            [value]="option.NAME">
                  {{option.NAME}}
                </mat-option>
              </mat-autocomplete>
              <div
                *ngIf="regKitForAllRequestedType.get('manufacturingCountry').invalid && (regKitForAllRequestedType.get('manufacturingCountry').dirty || regKitForAllRequestedType.get('manufacturingCountry').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('manufacturingCountry').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Applicant</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="Applicant"
                     aria-label="Applicant"
                     matInput
                     formControlName="applicant"
                     [readonly]="true"
                     [matAutocomplete]="applicantList" required>
              <mat-autocomplete #applicantList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsForApplicant | async"
                            [value]="option.NAME">
                  {{option.NAME}}
                </mat-option>
              </mat-autocomplete>
              <div
                *ngIf="regKitForAllRequestedType.get('applicant').invalid && (regKitForAllRequestedType.get('applicant').dirty || regKitForAllRequestedType.get('applicant').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('applicant').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>License Holder</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="License Holder"
                     aria-label="License Holder"
                     matInput
                     formControlName="licenseHolder"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('licenseHolder') : true : legacyStatus? productFlags && !productFlags.licenseHolder ? true : false : isDraft ? false : productFlags && !productFlags.licenseHolder ? true : false"
                     [matAutocomplete]="licenseHolderList" required>
              <mat-autocomplete #licenseHolderList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsForLicenseHolder | async"
                            [value]="option.NAME">
                  {{option.NAME}}
                </mat-option>
              </mat-autocomplete>
              <div
                *ngIf="regKitForAllRequestedType.get('licenseHolder').invalid && (regKitForAllRequestedType.get('licenseHolder').dirty || regKitForAllRequestedType.get('licenseHolder').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('licenseHolder').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12"
               *ngIf="regKitForAllRequestedType.get('licenseHolder').value === formData.licenseHolderList.length">
            <mat-form-field class="example-full-width inputBesideSelect">
              <mat-label>Other License Holder</mat-label>
              <input type="text" class="form-control" matInput formControlName="licenseHolderTxt"
                     placeholder="Other License Holder" required
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('licenseHolderTxt') : true : legacyStatus? productFlags && !productFlags.licenseHolderTxt ? true : false : isDraft ? false : productFlags && !productFlags.licenseHolderTxt ? true : false">
              <div
                *ngIf="regKitForAllRequestedType.get('licenseHolderTxt').invalid && (regKitForAllRequestedType.get('licenseHolderTxt').dirty || regKitForAllRequestedType.get('licenseHolderTxt').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('licenseHolderTxt').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Country of License Holder</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="Country of License Holder"
                     aria-label="Country of License Holder"
                     matInput
                     formControlName="countryOfLicenseHolder"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('countryOfLicenseHolder') : true : legacyStatus? productFlags && !productFlags.countryOfLicenseHolder ? true : false : isDraft ? false : productFlags && !productFlags.countryOfLicenseHolder ? true : false"
                     [matAutocomplete]="licenseHolderCountryList" required>
              <mat-autocomplete #licenseHolderCountryList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsForLicenseHolderCountry | async"
                            [value]="option.NAME">
                  {{option.NAME}}
                </mat-option>
              </mat-autocomplete>
              <div
                *ngIf="regKitForAllRequestedType.get('countryOfLicenseHolder').invalid && (regKitForAllRequestedType.get('countryOfLicenseHolder').dirty || regKitForAllRequestedType.get('countryOfLicenseHolder').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('countryOfLicenseHolder').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width inputBesideSelect">
              <mat-label>Trade Mark</mat-label>
              <input type="text" class="form-control" matInput formControlName="tradeMark"
                     placeholder="Trade Mark"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('tradeMark') : true : legacyStatus? productFlags && !productFlags.tradeMark ? true : false : isDraft ? false : productFlags && !productFlags.tradeMark ? true : false">
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width">
              <mat-label>Storage Place</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="Storage Place"
                     aria-label="Storage Place"
                     matInput
                     formControlName="storagePlace"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('storagePlace') : true : legacyStatus? productFlags && !productFlags.storagePlace ? true : false : isDraft ? false : productFlags && !productFlags.storagePlace ? true : false"
                     [matAutocomplete]="storagePlaceList"
                     [required]="selectedRequestedType === 3 || selectedRequestedType === 4 || selectedRequestedType === 7 || selectedRequestedType === 8 || selectedRequestedType === 9 ? true : false">
              <mat-autocomplete #storagePlaceList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsForStoragePlace | async"
                            [value]="option.NAME">
                  {{option.NAME}}
                </mat-option>
              </mat-autocomplete>
              <div
                *ngIf="regKitForAllRequestedType.get('storagePlace').invalid && (regKitForAllRequestedType.get('storagePlace').dirty || regKitForAllRequestedType.get('storagePlace').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('storagePlace').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="row">
              <div class="col-12 col-sm-9">
                <div class="form-group">
                  <label>
                    Shelf Life
                    <span class="requiredStar">*</span>
                  </label>
                  <mat-slider
                    class="example-margin mt-3"
                    [disabled]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('shelfLife') : true : legacyStatus? productFlags && !productFlags.shelfLife ? true : false : isDraft ? false : productFlags && !productFlags.shelfLife ? true : false"
                    [max]="60"
                    [min]="0"
                    [step]="1"
                    required
                    formControlName="shelfLife">
                  </mat-slider>
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <mat-form-field class="example-full-width inputBesideSelect">
                  <div *ngIf="productComments && productComments.shelfLife" class="InfoIconContainer">
                    <span class="infoIcon" tooltip="{{productComments.shelfLife}}"
                          placement="top">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" matInput
                         [value]="regKitForAllRequestedType.get('shelfLife').value"
                         formControlName="shelfLife"
                         [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('shelfLife') : true : legacyStatus? productFlags && !productFlags.shelfLife ? true : false : isDraft ? false : productFlags && !productFlags.shelfLife ? true : false"
                         (change)="setShelfValue($event)" required>
                  <span class="labelForRange">Months</span>
                  <div
                    *ngIf="regKitForAllRequestedType.get('shelfLife').invalid && attachmentRequiredStatus"
                    class="alert alert-danger">
                    <div
                      *ngIf="regKitForAllRequestedType.get('shelfLife').errors.required">
                      this field is required
                    </div>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width inputBesideSelect">
              <mat-label>Receipt Number</mat-label>
              <input type="text" class="form-control" matInput formControlName="receiptNumber"
                     placeholder="Receipt Number" required
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('receiptNumber') : true : legacyStatus? productFlags && !productFlags.receiptNumber ? true : false : isDraft ? false : productFlags && !productFlags.receiptNumber ? true : false">
              <div
                *ngIf="regKitForAllRequestedType.get('receiptNumber').invalid && (regKitForAllRequestedType.get('receiptNumber').dirty || regKitForAllRequestedType.get('receiptNumber').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptNumber').errors.required">
                  this field is required
                </div>
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptNumber').errors.pattern">
                  this field must not start with number
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width inputBesideSelect">
              <mat-label>Receipt Value</mat-label>
              <input type="text" class="form-control" matInput
                     (change)="getDecimalValue(regKitForAllRequestedType.get('receiptValue').value)"
                     formControlName="receiptValue"
                     placeholder="Receipt Value" required
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('receiptValue') : true : legacyStatus? productFlags && !productFlags.receiptValue ? true : false : isDraft ? false : productFlags && !productFlags.receiptValue ? true : false">
              <div
                *ngIf="regKitForAllRequestedType.get('receiptValue').invalid && (regKitForAllRequestedType.get('receiptValue').dirty || regKitForAllRequestedType.get('receiptValue').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptValue').errors.required">
                  this field is required
                </div>
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptValue').errors.pattern">
                  this field must be <strong>Decimal number</strong> as 00.0
                </div>
              </div>
            </mat-form-field>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Product Group fields">
      <div class="mt-5">
        <div class="row">
          <div class="col-12">
            <app-title [smallTitle]="true" [title]="'Product Group Form'"></app-title>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12 p-0">
                <div class="detailsTable">
                  <div class="hintForEmptyObject"
                       *ngIf="allProductsInKit.tableBody.length === 0 && attachmentRequiredStatus">
                    <h5>** Please add Product in kit</h5>
                  </div>
                  <div class="col-12">
                    <div>
                      <div class="getProductArea">
                        <app-insert-product-for-kit
                          [lookupsData]="formData"
                          [lookupForProductIds]="lookupForProductIdsInputForChildComponents"
                          [reRegistrationStatus]="reRegistrationStatus"
                          [variationFieldsStatus]="variationFieldsStatus"
                          [variationFields]="variationFields"
                          [disabledStatusForField]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('productStatus') : true : legacyStatus? productFlags && !productFlags.productStatus ? true : false : isDraft ? false : productFlags && !productFlags.productStatus ? true : false"
                          [appliedProductStatus]="appliedProductStatus"
                          (applyProductOutput)="applyProduct($event)">
                        </app-insert-product-for-kit>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4" *ngIf="allProductsInKit.tableBody.length > 0">
                    <div class="col-12">
                      <app-title [title]="'Kit Products Table'" [smallTitle]="true"></app-title>
                    </div>
                    <div class="col-12 mt-5">
                      <div class="RequestingTableForKit">
                        <app-table-list [data]="allProductsInKit"
                                        [whichTable]="'productsKitList'"
                                        (removeProductFromKit)="(editData && editData.isDraft=== 1) || !editData ? deletedProductsIdsList($event):null"
                                        (removeProductFromKit)="(editData && editData.isDraft=== 1) || !editData ? removeProductsGroupRows($event):null"
                        ></app-table-list>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Attachments" class="Attachments">
      <div class="mt-5">
        <app-title [smallTitle]="true" [title]="'Attachement'"></app-title>
        <div class="row mt-3">
          <div class="col-lg-4 col-sm-6 col-12" *ngFor="let field of attachmentFieldsForKits">
            <div class="form-group" *ngIf="field.enable">
              <div *ngIf="productComments && productComments[field.id]" class="InfoIconContainer">
                <span class="infoIcon" tooltip="{{productComments[field.id]}}"
                      placement="top">
                  <i class="fas fa-info-circle"></i>
                </span>
              </div>
              <label>
                {{field.name}}
                <span class="requiredStar" *ngIf="field.required">*</span>
              </label>
              <div class="custom-file fileUpload mr-3" id="customFile"
                   [ngClass]="{'required': ((regKitForAllRequestedType.get(field.id).invalid && attachmentRequiredStatus) || field.attachmentTypeStatus === 'No')}">
                <input type="file" class="custom-file-input" [id]="field.id"
                       aria-describedby="fileHelp"
                       (change)="onFileSelect($event, field.id)"
                       [disabled]="reRegistrationStatus ? field.id === 'receipt'? false : true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes(field.id) : true : legacyStatus? productFlags && !productFlags[field.id] ? true : false : isDraft ? false : productFlags && !productFlags[field.id] ? true : false"
                       [required]="field.required ? 'required' : ''">
                <div class="d-flex alert alert-danger"
                     *ngIf="(regKitForAllRequestedType.get(field.id).invalid && attachmentRequiredStatus) || field.attachmentTypeStatus === 'No'">
                  <div class="ml-auto mr-3" *ngIf="field.attachmentTypeStatus === 'No'">
                    this file must be as PDF and less than 2MB.
                  </div>
                  <div class="ml-auto"
                       *ngIf="regKitForAllRequestedType.get(field.id).invalid && attachmentRequiredStatus">
                    <div *ngIf="regKitForAllRequestedType.get(field.id).errors.required">
                      this field is required.
                    </div>
                  </div>
                </div>
                <label class="custom-file-label" [for]="field.id">
                  {{field.fileName ? field.fileName : 'Choose file'}}
                </label>
                <button type="button" class="custom-file-download-Button" (click)="downloadFile(field.id)"
                        [disabled]="!regKitForAllRequestedType.value.id">Download
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
  <div class="row buttonContainer">
    <div class="col-12 d-flex flex-column flex-md-row mt-3">
      <button *ngIf="!formTabs.tabs[0].active"
              type="button"
              class="btn btn-primary btn-sm mr-3 bottomButtons"
              (click)="backToNextTab('FormTabs')">
        Back Forward
      </button>
      <div class="ml-md-auto">
        <button *ngIf="!formTabs.tabs[2].active"
                type="button"
                class="btn btn-primary btn-sm mr-3 bottomButtons"
                (click)="nextToNextTab('FormTabs')">
          Next Forward
        </button>
        <button type="button"
                *ngIf="!approvedStatus && !reRegistrationStatus && !legacyStatus"
                class="btn btn-primary btn-sm mr-3 bottomButtons"
                [disabled]="!disabledSaveButton || (trackProductStatus && !editProcessInTrackedProduct)"
                (click)="saveData()">
          Save
        </button>
        <button
          type="submit"
          *ngIf="!approvedStatus"
          [disabled]="trackProductStatus && !editProcessInTrackedProduct"
          class="btn btn-primary btn-sm">
          <span>Submit</span>
        </button>
      </div>
    </div>
  </div>
</form>

<alert type="danger" dismissible="true" class="AlertForAllRequests" (onClosed)="onClosedErrorAlert()"
       *ngIf="alertErrorNotificationStatus">
  <strong>Error Message</strong> <br> {{alertErrorNotification.msg}}
</alert>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>
