<form class="mt-2" name="form" class="example-form" method="post"
      [formGroup]="regKitForAllRequestedType"
      (keydown.enter)="$event.preventDefault()"
      (ngSubmit)="onSubmit()" novalidate>
  <tabset type="pills" #formTabs>
    <tab heading="Kit Details">
      <div class="mt-5">
        <div class="row">
          <div class="col-12">
            <app-title [smallTitle]="true" [title]="'Kit Details'"></app-title>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-6" [ngClass]="{'mt-3': selectedFormType === 2}">
            <mat-form-field class="example-full-width">
              <div *ngIf="productComments && productComments.productArabicName"
                   class="InfoIconContainer">
                <span class="infoIcon" tooltip="{{productComments.productArabicName}}"
                      placement="top">
                  <i class="fas fa-info-circle"></i>
                </span>
              </div>
              <mat-label>Kit Name (Arabic)</mat-label>
              <input type="text" class="form-control" matInput formControlName="productArabicName"
                     placeholder="Kit Name"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('productArabicName') : true : legacyStatus? productFlags && !productFlags.productArabicName ? true : false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.productArabicName ? true : false : isDraft ? false : productFlags && !productFlags.productArabicName ? true : false">
              <div
                *ngIf="regKitForAllRequestedType.get('productArabicName').invalid && (regKitForAllRequestedType.get('productArabicName').dirty || regKitForAllRequestedType.get('productArabicName').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('productArabicName').errors.required">
                  this field is required
                </div>
                <div
                  *ngIf="regKitForAllRequestedType.get('productArabicName').errors.pattern">
                  this field must be in Arabic
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6" [ngClass]="{'mt-3': selectedFormType === 2}">
            <mat-form-field class="example-full-width">
              <div *ngIf="productComments && productComments.productEnglishName"
                   class="InfoIconContainer">
                <span class="infoIcon" tooltip="{{productComments.productEnglishName}}"
                      placement="top">
                  <i class="fas fa-info-circle"></i>
                </span>
              </div>
              <mat-label>Product Name (English)</mat-label>
              <input type="text" class="form-control" matInput formControlName="productEnglishName"
                     placeholder="Product Name" required
                     (blur)="validationForLong(regKitForAllRequestedType.get('productEnglishName').value)"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('productEnglishName') : true : legacyStatus? productFlags && !productFlags.productEnglishName ? true : false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.productEnglishName ? true : false : isDraft ? false : productFlags && !productFlags.productEnglishName ? true : false">
              <div class="validationShortNameContainer" *ngIf="longNameValueStatus">
                <p>
                  <i class="fas fa-info-circle" tooltip="the value is not valid" placement="auto"
                     *ngIf="!longNameValue"></i>
                  <i class="fas fa-check-circle" *ngIf="longNameValue"></i>
                </p>
              </div>
              <div
                *ngIf="regKitForAllRequestedType.get('productEnglishName').invalid && (regKitForAllRequestedType.get('productEnglishName').dirty || regKitForAllRequestedType.get('productEnglishName').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('productEnglishName').errors.required">
                  this field is required
                </div>
                <div
                  *ngIf="regKitForAllRequestedType.get('productEnglishName').errors.pattern">
                  this field must start with <b>Character</b> or <b>Number</b>
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-12 mt-3 mb-3">
            <div class="ShortNameFieldContainer" formArrayName="shortNameTable">
              <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-center flex-column flex-sm-row">
                  <app-title [title]="'Short Name Group'" [smallTitle]="true"></app-title>
                  <div class="hintForEmptyObject"
                       *ngIf="attachmentRequiredStatus && shortNamingValidationList.length > 0 && shortNamingValidationList.includes(false)">
                    <h5>** Please change invalid short name values</h5>
                  </div>
                  <button type="button" class="btn btn-primary btn-sm mb-3 ml-sm-auto mt-3 mt-sm-0 addBtn"
                          [disabled]="(selectedRequestedType === 7 || selectedRequestedType === 8 || selectedRequestedType === 9) ? reRegistrationStatus ?  true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('shortNameTable') : true : legacyStatus? true : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct?  productFlags && !productFlags.shortNameTable ? true : false : isDraft?  false : productFlags && !productFlags.shortNameTable ? true  : false : true"
                          (click)="addShortName()">
                    Add Short Name
                  </button>
                  <button type="button" class="btn btn-primary btn-sm mb-3 mt-3 mt-sm-0 addBtn ml-sm-2"
                          *ngIf="selectedRequestedType === 5 ||selectedRequestedType === 6 || selectedRequestedType === 7 || selectedRequestedType === 8 || selectedRequestedType === 9"
                          [disabled]="reRegistrationStatus ?  true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('shortNameTable') : true : legacyStatus? true : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct?  productFlags && !productFlags.shortNameTable ? true : false : isDraft?  false : productFlags && !productFlags.shortNameTable ? true  : false"
                          (click)="validationForShortNames()">
                    Validation Short Name
                  </button>

                </div>
                <div *ngIf="removeShortNameFieldStatus" class="alert alert-danger RelativeAlert">
                  you must have at least one field
                </div>
                <div *ngIf="addShortNameFieldStatus" class="alert alert-danger RelativeAlert">
                  you can't add more than 10 fields
                </div>
                <div class="col-lg-3 col-sm-6 col-12" *ngFor="let shortNameList of ShortName.controls; let i=index">
                  <div class="validationShortNameContainer"
                       *ngIf="shortNamingValidationList.length > 0">
                    <p>
                      <i class="fas fa-info-circle" tooltip="the value is not valid" placement="auto"
                         *ngIf="shortNamingValidationList[i] === false"></i>
                      <i class="fas fa-check-circle" *ngIf="shortNamingValidationList[i] === true"></i>
                    </p>
                  </div>
                  <mat-form-field class="example-full-width" [formGroupName]="i">
                    <div *ngIf="productComments && productComments.shortNameTable"
                         class="InfoIconContainer">
                      <span class="infoIcon" tooltip="{{productComments['shortNameTable']}}"
                            placement="top">
                        <i class="fas fa-info-circle"></i>
                      </span>
                    </div>
                    <mat-label>Short Name</mat-label>
                    <input type="text" class="form-control" matInput
                           placeholder="Short Name"
                           formControlName="shortName"
                           (ngModelChange)="removeAllValidationLst()"
                           [maxLength]="30"
                           [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('shortNameTable') : true : legacyStatus? true : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.shortNameTable ? true : false : isDraft ? false : productFlags && !productFlags.shortNameTable ? true : false">
                    <button type="button"
                            [disabled]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('shortNameTable') : true : legacyStatus? true : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.shortNameTable ? true : false : (isDraft && (selectedRequestedType === 7 || selectedRequestedType === 8 || selectedRequestedType === 9)) ? false : productFlags && !productFlags.shortNameTable ? true : (selectedRequestedType !== 7 && selectedRequestedType !== 8 && selectedRequestedType !== 9) ? true : false"
                            (click)="removeShortName(i)"
                            class="close">Remove
                    </button>

                    <div *ngIf="ShortName.controls[i].errors?.pattern" class="alert alert-danger">
                      This Field must not be arabic and must be four words
                    </div>
                    <div
                      *ngIf="ShortName.controls[i].invalid && (ShortName.controls[i].dirty || ShortName.controls[i].touched)"
                      class="alert alert-danger">
                      This Field is required
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12"
               *ngIf="selectedFormType === 3 || selectedFormType === 4 || selectedFormType === 6">
            <mat-form-field appearance="fill">
              <div *ngIf="productComments && productComments.productColor" class="InfoIconContainer">
                <span class="infoIcon" tooltip="{{productComments.productColor}}"
                      placement="top">
                  <i class="fas fa-info-circle"></i>
                </span>
              </div>
              <mat-label>Kit Color</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="Kit Color"
                     aria-label="Kit Color"
                     matInput
                     formControlName="productColor"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('productColor') : true : legacyStatus? productFlags && !productFlags.productColor ? true : false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.productColor ? true : false : isDraft ? false : productFlags && !productFlags.productColor ? true : false"
                     [matAutocomplete]="productColorList" required>
              <mat-autocomplete #productColorList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsForProductColor | async"
                            [value]="option.NAME">
                  <span class="tooltipContainer" tooltip="{{option.NAME}}"
                        placement="top">{{option.NAME}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Applicant</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="Applicant"
                     aria-label="Applicant"
                     matInput
                     formControlName="applicant"
                     [readonly]="true">
              <div
                *ngIf="regKitForAllRequestedType.get('applicant').invalid && (regKitForAllRequestedType.get('applicant').dirty || regKitForAllRequestedType.get('applicant').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('applicant').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <div *ngIf="productComments && productComments.licenseHolder" class="InfoIconContainer">
                <span class="infoIcon" tooltip="{{productComments.licenseHolder}}"
                      placement="top">
                  <i class="fas fa-info-circle"></i>
                </span>
              </div>
              <mat-label>License Holder</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="License Holder"
                     aria-label="License Holder"
                     matInput
                     formControlName="licenseHolder"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('licenseHolder') : true : legacyStatus? productFlags && !productFlags.licenseHolder ? true : false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.licenseHolder ? true : false : isDraft ? false : productFlags && !productFlags.licenseHolder ? true : false"
                     [matAutocomplete]="licenseHolderList" required>
              <mat-autocomplete #licenseHolderList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsForLicenseHolder | async"
                            [value]="option.NAME">
                  <span class="tooltipContainer" tooltip="{{option.NAME}}"
                        placement="top">{{option.NAME}}</span>
                </mat-option>
              </mat-autocomplete>
              <div
                *ngIf="regKitForAllRequestedType.get('licenseHolder').invalid && (regKitForAllRequestedType.get('licenseHolder').dirty || regKitForAllRequestedType.get('licenseHolder').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('licenseHolder').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12"
               *ngIf="regKitForAllRequestedType.get('licenseHolder').value === 'Other'">
            <mat-form-field class="example-full-width inputBesideSelect">
              <div *ngIf="productComments && productComments.licenseHolderTxt"
                   class="InfoIconContainer">
                <span class="infoIcon" tooltip="{{productComments.licenseHolderTxt}}"
                      placement="top">
                  <i class="fas fa-info-circle"></i>
                </span>
              </div>
              <mat-label>Other License Holder</mat-label>
              <input type="text" class="form-control" matInput formControlName="licenseHolderTxt"
                     placeholder="Other License Holder"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('licenseHolderTxt') : true : legacyStatus? productFlags && !productFlags.licenseHolderTxt ? true : false : isDraft ? false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.licenseHolder ? true : false : productFlags && !productFlags.licenseHolderTxt ? true : false">
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <div *ngIf="productComments && productComments.countryOfLicenseHolder"
                   class="InfoIconContainer">
                <span class="infoIcon" tooltip="{{productComments.countryOfLicenseHolder}}"
                      placement="top">
                  <i class="fas fa-info-circle"></i>
                </span>
              </div>
              <mat-label>Country of License Holder</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="Country of License Holder"
                     aria-label="Country of License Holder"
                     matInput
                     formControlName="countryOfLicenseHolder"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('countryOfLicenseHolder') : true : legacyStatus? productFlags && !productFlags.countryOfLicenseHolder ? true : false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.countryOfLicenseHolder ? true : false : isDraft ? false : productFlags && !productFlags.countryOfLicenseHolder ? true : false"
                     [matAutocomplete]="licenseHolderCountryList" required>
              <mat-autocomplete #licenseHolderCountryList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsForLicenseHolderCountry | async"
                            [value]="option.NAME">
                  <span class="tooltipContainer" tooltip="{{option.NAME}}"
                        placement="top">{{option.NAME}}</span>
                </mat-option>
              </mat-autocomplete>
              <div
                *ngIf="regKitForAllRequestedType.get('countryOfLicenseHolder').invalid && (regKitForAllRequestedType.get('countryOfLicenseHolder').dirty || regKitForAllRequestedType.get('countryOfLicenseHolder').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('countryOfLicenseHolder').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width inputBesideSelect">
              <div *ngIf="productComments && productComments.tradeMark" class="InfoIconContainer">
                <span class="infoIcon" tooltip="{{productComments.tradeMark}}"
                      placement="top">
                  <i class="fas fa-info-circle"></i>
                </span>
              </div>
              <mat-label>Trade Mark</mat-label>
              <input type="text" class="form-control" matInput formControlName="tradeMark"
                     placeholder="Trade Mark"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('tradeMark') : true : legacyStatus? productFlags && !productFlags.tradeMark ? true : false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.tradeMark ? true : false : isDraft ? false : productFlags && !productFlags.tradeMark ? true : false">
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width">
              <div *ngIf="productComments && productComments.storagePlace" class="InfoIconContainer">
                <span class="infoIcon" tooltip="{{productComments.storagePlace}}"
                      placement="top">
                  <i class="fas fa-info-circle"></i>
                </span>
              </div>
              <mat-label>Storage Place</mat-label>
              <input type="text"
                     class="form-control"
                     placeholder="Storage Place"
                     aria-label="Storage Place"
                     matInput
                     formControlName="storagePlace"
                     [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('storagePlace') : true : legacyStatus? productFlags && !productFlags.storagePlace ? true : false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.storagePlace ? true : false : isDraft ? false : productFlags && !productFlags.storagePlace ? true : false"
                     [required]="selectedRequestedType === 3 || selectedRequestedType === 4 || selectedRequestedType === 7 || selectedRequestedType === 8 || selectedRequestedType === 9 ? true : false"
                     [matAutocomplete]="storagePlaceList">
              <mat-autocomplete #storagePlaceList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsForStoragePlace | async"
                            [value]="option.NAME">
                  <span class="tooltipContainer" tooltip="{{option.NAME}}"
                        placement="top">{{option.NAME}}</span>
                </mat-option>
              </mat-autocomplete>
              <div
                *ngIf="regKitForAllRequestedType.get('storagePlace').invalid && (regKitForAllRequestedType.get('storagePlace').dirty || regKitForAllRequestedType.get('storagePlace').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('storagePlace').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="row">
              <div class="col-12 col-sm-9">
                <div class="form-group">
                  <label>
                    Shelf Life
                    <span class="requiredStar">*</span>
                  </label>
                  <mat-slider
                    class="example-margin mt-3"
                    [disabled]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('shelfLife') : true : legacyStatus? productFlags && !productFlags.shelfLife ? true : false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.shelfLife ? true : false : isDraft ? false : productFlags && !productFlags.shelfLife ? true : false"
                    [max]="60"
                    [min]="0"
                    [step]="1"
                    required
                    formControlName="shelfLife">
                  </mat-slider>
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <mat-form-field class="example-full-width inputBesideSelect">
                  <div *ngIf="productComments && productComments.shelfLife" class="InfoIconContainer">
                    <span class="infoIcon" tooltip="{{productComments.shelfLife}}"
                          placement="top">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" matInput
                         [value]="regKitForAllRequestedType.get('shelfLife').value"
                         formControlName="shelfLife"
                         [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('shelfLife') : true : legacyStatus? productFlags && !productFlags.shelfLife ? true : false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.shelfLife ? true : false : isDraft ? false : productFlags && !productFlags.shelfLife ? true : false"
                         (change)="setShelfValue($event)" required>
                  <span class="labelForRange">Months</span>
                  <div
                    *ngIf="regKitForAllRequestedType.get('shelfLife').invalid && attachmentRequiredStatus"
                    class="alert alert-danger">
                    <div
                      *ngIf="regKitForAllRequestedType.get('shelfLife').errors.required">
                      this field is required
                    </div>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12" *ngIf="!legacyStatus ">
            <mat-form-field class="example-full-width inputBesideSelect">
              <div *ngIf="productComments && productComments.receiptNumber" class="InfoIconContainer">
                    <span class="infoIcon" tooltip="{{productComments.receiptNumber}}"
                          placement="top">
                      <i class="fas fa-info-circle"></i>
                    </span>
              </div>
              <mat-label>Receipt Number</mat-label>
              <input type="text" class="form-control" matInput formControlName="receiptNumber"
                     [readonly]=" reRegistrationStatus ? false : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('receiptNumber') : true : legacyStatus? productFlags && !productFlags.receiptNumber ? true : false : canBeAppealedStatus || canEditForHoldApprovedProduct? false : canEditForApprovedProduct? productFlags && !productFlags.receiptNumber ? true : false : isDraft ? false : productFlags && !productFlags.receiptNumber ? true : false"
                     placeholder="Receipt Number" required>
              <div
                *ngIf="regKitForAllRequestedType.get('receiptNumber').invalid && (regKitForAllRequestedType.get('receiptNumber').dirty || regKitForAllRequestedType.get('receiptNumber').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptNumber').errors.required">
                  this field is required
                </div>
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptNumber').errors.pattern">
                  this field must not start with number
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12" *ngIf="!legacyStatus">
            <mat-form-field class="example-full-width inputBesideSelect">
              <div *ngIf="productComments && productComments.receiptValue" class="InfoIconContainer">
                    <span class="infoIcon" tooltip="{{productComments.receiptValue}}"
                          placement="top">
                      <i class="fas fa-info-circle"></i>
                    </span>
              </div>
              <mat-label>Receipt Value</mat-label>
              <input type="text" class="form-control" matInput
                     (change)="getDecimalValue(regKitForAllRequestedType.get('receiptValue').value, '')"
                     [readonly]="reRegistrationStatus ? false : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('receiptValue') : true : legacyStatus? productFlags && !productFlags.receiptValue ? true : false : canBeAppealedStatus || canEditForHoldApprovedProduct? false : canEditForApprovedProduct? productFlags && !productFlags.receiptNumber ? true : false : isDraft ? false : productFlags && !productFlags.receiptValue ? true : false"
                     formControlName="receiptValue"
                     placeholder="Receipt Value" required>
              <div
                *ngIf="regKitForAllRequestedType.get('receiptValue').invalid && (regKitForAllRequestedType.get('receiptValue').dirty || regKitForAllRequestedType.get('receiptValue').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptValue').errors.required">
                  this field is required
                </div>
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptValue').errors.pattern">
                  this field must be <strong>Decimal number</strong> as 00.0
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-12 mt-5">
            <div class="ShortNameFieldContainer">
              <div class="row ">
                <div class="col-12">
                  <div class="d-flex flex-column">
                    <div class="row">
                      <div class="col-12 col-sm-8">
                        <app-title [smallTitle]="true" [title]="'Manufacturing data'"
                                   [havingComment]="productComments && productComments.manufacturingTable"
                                   [theCommentMessage]=" productComments && productComments.manufacturingTable ? productComments.manufacturingTable : ''"></app-title>
                      </div>
                      <div class="col-12 col-sm-4 ml-auto">
                        <div class="d-flex align-items-center">
                          <div class="hintForEmptyObject"
                               *ngIf="manufacturingListTable.tableBody.length === 0 && attachmentRequiredStatus">
                            <h5>** Please add Manufacturing data</h5>
                          </div>
                          <!-- canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.manufacturingTable ? true : false : isDraft ? false : productFlags && !productFlags.manufacturingTable ? true : false -->
                          <button type="button" class="btn btn-primary btnForModal ml-auto"
                                  [disabled]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('manufacturingTable') : true : legacyStatus? productFlags && !productFlags.manufacturingTable ? true : false : manufacturingListTable.tableBody.length === 0? canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.manufacturingTable ? true : false : isDraft ? false : productFlags && !productFlags.manufacturingTable ? true : false : true"
                                  (click)="openModal(manufacturingModal); rerenderSubscribtionForClosingActionForManufacturingForm()">
                            Add new manufacturing
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="RequestingTable">
                    <app-table-list [data]="manufacturingListTable"
                                    [whichTable]="'newRequestForManufacturing'"
                                    (removeManufacturingRowOutput)="reRegistrationStatus ? null : variationFieldsStatus ? this.variationFields.length > 0 ? enableEditableFields.includes('manufacturingTable') ? removeManufacturingRows($event) : null : null :legacyStatus?  productFlags && !productFlags.manufacturingTable ?  null : removeManufacturingRows($event) : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.manufacturingTable ? null : removeManufacturingRows($event) : isDraft ? removeManufacturingRows($event) : productFlags && !productFlags.manufacturingTable ? null : removeManufacturingRows($event)"
                                    (removeManufacturingRowIDs)="reRegistrationStatus ? null : variationFieldsStatus ? this.variationFields.length > 0 ? enableEditableFields.includes('manufacturingTable') ? deletedManufacturingIdsList($event) : null : null :legacyStatus?  productFlags && !productFlags.manufacturingTable ?  null : deletedManufacturingIdsList($event) : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.manufacturingTable ? null : deletedManufacturingIdsList($event) : isDraft ? deletedManufacturingIdsList($event) : productFlags && !productFlags.manufacturingTable ? null : deletedManufacturingIdsList($event)"
                                    (editManufacturingRowIDs)="reRegistrationStatus ? null : variationFieldsStatus ? this.variationFields.length > 0 ? enableEditableFields.includes('manufacturingTable') ? editTheManufacturingRows($event) : null : null :legacyStatus?  productFlags && !productFlags.manufacturingTable ?  null : editTheManufacturingRows($event) : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.manufacturingTable ? null : editTheManufacturingRows($event) : isDraft ? editTheManufacturingRows($event) : productFlags && !productFlags.manufacturingTable ? null : editTheManufacturingRows($event)"></app-table-list>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Products In Kit">
      <div class="mt-5">
        <div class="row">
          <div class="col-12">
            <app-title [smallTitle]="true" [title]="'Products In Kit'"></app-title>
          </div>
          <div class="col-12 mt-2">
            <div class="row">
              <div class="col-12 p-0">
                <div class="detailsTable">
                  <div class="hintForEmptyObject"
                       *ngIf="allProductsInKit.tableBody.length === 0 && attachmentRequiredStatus">
                    <h5>** Please add Product in kit</h5>
                  </div>
                  <div class="col-12">
                    <div>
                      <div class="getProductArea">
                        <app-insert-product-for-kit
                          [lookupsData]="formData"
                          [lookupForProductIds]="lookupForProductIdsInputForChildComponents"
                          [reRegistrationStatus]="reRegistrationStatus"
                          [trackProductStatus]="trackProductStatus"
                          [canBeAppealedStatus]="canBeAppealedStatus"
                          [canEditForApprovedProduct]="canEditForApprovedProduct"
                          [canEditForHoldApprovedProduct]="canEditForHoldApprovedProduct"
                          [variationFieldsStatus]="variationFieldsStatus"
                          [variationFields]="variationFields"
                          [disabledStatusForField]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('productStatus') : true : legacyStatus? productFlags && !productFlags.productStatus ? true : false : isDraft ? false : productFlags && !productFlags.productStatus ? true : false"
                          [appliedProductStatus]="appliedProductStatus"
                          (applyProductOutput)="applyProduct($event)">
                        </app-insert-product-for-kit>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4" *ngIf="allProductsInKit.tableBody.length > 0">
                    <div class="col-12">
                      <app-title [title]="'Kit Products Table'" [smallTitle]="true"></app-title>
                    </div>
                    <div class="col-12 mt-5">
                      <div class="RequestingTableForKit">
                        <app-table-list [data]="allProductsInKit"
                                        [whichTable]="'productsKitList'"
                                        (removeProductFromKit)="(editData && editData.isDraft=== 1) || !editData ? deletedProductsIdsList($event):null"
                                        (removeProductFromKit)="(editData && editData.isDraft=== 1) || !editData ? removeProductsGroupRows($event):null"
                        ></app-table-list>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Attachments" class="Attachments">
      <div class="mt-5">
        <app-title [smallTitle]="true" [title]="'Attachement'"></app-title>
        <div class="row mt-3">
          <div class="col-lg-4 col-sm-6 col-12" *ngFor="let field of attachmentFieldsForKits">
            <div class="form-group" *ngIf="field.enable">
              <div *ngIf="productComments && productComments[field.id]" class="InfoIconContainer">
                <span class="infoIcon" tooltip="{{productComments[field.id]}}"
                      placement="top">
                  <i class="fas fa-info-circle"></i>
                </span>
              </div>
              <label>
                {{field.name}}
                <span class="requiredStar" *ngIf="field.required">*</span>
              </label>
              <div class="custom-file fileUpload mr-3" id="customFile"
                   [ngClass]="{'required': (regKitForAllRequestedType.get(field.id).invalid && attachmentRequiredStatus) || field.attachmentTypeStatus === 'No'}">
                <input type="file" class="custom-file-input" [id]="field.id"
                       aria-describedby="fileHelp"
                       (change)="onFileSelect($event, field.id)"
                       [disabled]="finalRejectedStatus ? true : field.id === 'others' || field.id === 'reference' ? trackProductStatus ? productFlags && !productFlags[field.id] ? true : false : false : reRegistrationStatus ? false : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes(field.id) : true : legacyStatus? productFlags && !productFlags[field.id] ? true : false : canBeAppealedStatus || canEditForHoldApprovedProduct? field.id === 'receipt'? false : productFlags && !productFlags[field.id] ? true : false : canEditForApprovedProduct? productFlags && !productFlags[field.id] ? true : false : isDraft ? false : productFlags && !productFlags[field.id] ? true : false"
                       [required]="field.required ? 'required' : false">
                <div class="d-flex alert alert-danger"
                     *ngIf="(regKitForAllRequestedType.get(field.id).invalid && attachmentRequiredStatus) || field.attachmentTypeStatus === 'No'">
                  <div class="ml-auto mr-2" *ngIf="field.attachmentTypeStatus === 'No'">
                    this file must be as PDF and less than 5MB.
                  </div>
                  <div class="ml-auto"
                       *ngIf="regKitForAllRequestedType.get(field.id).invalid && attachmentRequiredStatus">
                    <div *ngIf="regKitForAllRequestedType.get(field.id).errors.required">
                      this field is required.
                    </div>
                  </div>
                </div>
                <label class="custom-file-label" [for]="field.id">
                  {{field.fileName ? field.fileName : 'Choose file'}}
                </label>
                <button type="button" class="custom-file-download-Button" (click)="downloadFile(field.id)"
                        [disabled]="!regKitForAllRequestedType.value.id">Download
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
  <div class="row buttonContainer">
    <div class="col-12 d-flex flex-column flex-md-row mt-3">
      <button *ngIf="!formTabs.tabs[0].active"
              type="button"
              class="btn btn-primary btn-sm mr-3 bottomButtons"
              (click)="backToNextTab('FormTabs')">
        Back
      </button>
      <div class="ml-md-auto">
        <button *ngIf="!formTabs.tabs[2].active"
                type="button"
                class="btn btn-primary btn-sm mr-3 bottomButtons"
                (click)="nextToNextTab('FormTabs')">
          Next Forward
        </button>
        <button type="button"
                *ngIf="!approvedStatus && !reRegistrationStatus && !legacyStatus"
                class="btn btn-primary btn-sm mr-3 bottomButtons"
                [disabled]="!disabledSaveButton ||(editData && editData.isCompleted && !canBeAppealedStatus && !canEditForApprovedProduct) || trackProductStatus"
                (click)="saveData()">
          Save
        </button>
        <button
          type="submit"
          *ngIf="!approvedStatus"
          [disabled]="trackProductStatus && !editProcessInTrackedProduct"
          class="btn btn-primary btn-sm">
          <span>Submit</span>
        </button>
      </div>
    </div>
  </div>
</form>

<ng-template #manufacturingModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Manufacturing Form</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeManufacturingModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="mt-2" name="manufactForm" class="example-form" method="post"
          [formGroup]="regManufacturingForProduct"
          (keydown.enter)="$event.preventDefault()"
          (ngSubmit)="onSubmitForManufacturingForm()" novalidate xmlns="http://www.w3.org/1999/html"
          autocomplete="off">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-12">
          <mat-form-field class="example-full-width">
            <mat-label>Manufacturing Company</mat-label>
            <input type="text"
                   class="form-control"
                   placeholder="Manufacturing Company"
                   aria-label="Manufacturing Company"
                   matInput
                   formControlName="manufacturingCompany"
                   [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('manufacturingTable') : true : legacyStatus? productFlags && !productFlags.manufacturingTable ? true : false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.manufacturingTable ? true : false : isDraft ? false : productFlags && !productFlags.manufacturingTable ? true : false"
                   [matAutocomplete]="manufacturingCompanyList" required>
            <mat-autocomplete #manufacturingCompanyList="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptionsForManufacturingCompany | async"
                          [value]="option.NAME">
                  <span class="tooltipContainer" tooltip="{{option.NAME}}"
                        placement="top">{{option.NAME}}</span>
              </mat-option>
            </mat-autocomplete>
            <div
              *ngIf="regManufacturingForProduct.get('manufacturingCompany').invalid && (regManufacturingForProduct.get('manufacturingCompany').dirty || regManufacturingForProduct.get('manufacturingCompany').touched)"
              class="alert alert-danger">
              <div
                *ngIf="regManufacturingForProduct.get('manufacturingCompany').errors.required">
                this field is required
              </div>
            </div>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
          <mat-form-field appearance="fill">
            <mat-label>Manufacturing Country</mat-label>
            <input type="text"
                   class="form-control"
                   placeholder="Manufacturing Country"
                   aria-label="Manufacturing Country"
                   matInput
                   formControlName="manufacturingCountry"
                   [readonly]="reRegistrationStatus ? true : variationFieldsStatus ? this.variationFields.length > 0 ? !enableEditableFields.includes('manufacturingTable') : true : legacyStatus? productFlags && !productFlags.manufacturingTable ? true : false : canBeAppealedStatus || canEditForApprovedProduct || canEditForHoldApprovedProduct? productFlags && !productFlags.manufacturingTable ? true : false : isDraft ? false : productFlags && !productFlags.manufacturingTable ? true : false"
                   [matAutocomplete]="manufacturingCountryList" required>
            <mat-autocomplete #manufacturingCountryList="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptionsForManufacturingCountry | async"
                          [value]="option.NAME">
                  <span class="tooltipContainer" tooltip="{{option.NAME}}"
                        placement="top">{{option.NAME}}</span>
              </mat-option>
            </mat-autocomplete>
            <div
              *ngIf="regManufacturingForProduct.get('manufacturingCountry').invalid && (regManufacturingForProduct.get('manufacturingCountry').dirty || regManufacturingForProduct.get('manufacturingCountry').touched)"
              class="alert alert-danger">
              <div
                *ngIf="regManufacturingForProduct.get('manufacturingCountry').errors.required">
                this field is required
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row buttonContainer btm-out">
        <div class="col-12 d-flex flex-column flex-md-row mt-3">
          <button
            type="submit"
            class="btn btn-primary btn-sm">
            <span *ngIf="!this.editManufacturingRowStatus">Add Manufacturing</span>
            <span *ngIf="this.editManufacturingRowStatus">Edit Manufacturing</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<alert type="danger" dismissible="true" class="AlertForAllRequests" (onClosed)="onClosedErrorAlert()"
       *ngIf="alertErrorNotificationStatus">
  <strong>Error Message</strong> <br> {{alertErrorNotification.msg}}
</alert>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>
