<form class="mt-2" name="form" class="example-form" method="post"
      [formGroup]="regKitForAllRequestedType"
      (ngSubmit)="onSubmit()" novalidate>
  <tabset type="pills" #formTabs>
    <tab heading="Products fields">
      <div class="mt-5">
        <div class="row">
          <div class="col-12">
            <app-title [smallTitle]="true" [title]="'Register Kit Request'"></app-title>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6">
            <mat-form-field class="example-full-width">
              <mat-label>Product Name (Arabic)</mat-label>
              <input type="text" class="form-control" matInput formControlName="productArabicName"
                     placeholder="Product Name">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field class="example-full-width">
              <mat-label>Product Name (English)</mat-label>
              <input type="text" class="form-control" matInput formControlName="productEnglishName"
                     placeholder="Product Name" required>
              <div
                *ngIf="regKitForAllRequestedType.get('productEnglishName').invalid && (regKitForAllRequestedType.get('productEnglishName').dirty || regKitForAllRequestedType.get('productEnglishName').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('productEnglishName').errors.required">
                  this field is required
                </div>
                <div
                  *ngIf="regKitForAllRequestedType.get('productEnglishName').errors.pattern">
                  this field must be in English
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-12 mt-3 mb-3">
            <div class="ShortNameFieldContainer" formArrayName="shortName">
              <div class="row">
                <div class="col-12 d-flex align-items-center flex-column flex-sm-row">
                  <app-title [title]="'Short Name Field'" [smallTitle]="true"></app-title>
                  <button type="button" class="btn btn-primary btn-sm mb-3 ml-sm-auto mt-3 mt-sm-0 addBtn"
                          (click)="addShortName()">
                    Add Short Name
                  </button>
                </div>
                <div *ngIf="removeShortNameFieldStatus" class="alert alert-danger RelativeAlert">
                  you must have at least one field
                </div>
                <div class="col-lg-3 col-sm-6 col-12" *ngFor="let shortNameList of ShortName.controls; let i=index">
                  <mat-form-field class="example-full-width">
                    <mat-label>Short Name</mat-label>
                    <input type="text" class="form-control" matInput [formControlName]="i"
                           placeholder="Short Name">
                    <button type="button" (click)="removeShortName(i)" class="close">Remove</button>
                    <div *ngIf="ShortName.controls[i].errors?.pattern" class="alert alert-danger">
                      this field must be in English
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Manufacturing Company</mat-label>
              <mat-select formControlName="manufacturingCompany" required *ngIf="formData">
                <mat-option *ngFor="let company of formData.manufacturingCompanyList" [value]="company.ID">
                  {{company.MANUFACTORY_NAME}}
                </mat-option>
              </mat-select>
              <div
                *ngIf="regKitForAllRequestedType.get('manufacturingCompany').invalid && (regKitForAllRequestedType.get('manufacturingCompany').dirty || regKitForAllRequestedType.get('manufacturingCompany').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('manufacturingCompany').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Manufacturing Country</mat-label>
              <mat-select formControlName="manufacturingCountry" required *ngIf="formData">
                <mat-option *ngFor='let country of formData.manufacturingCountryList' [value]="country.ID">
                  {{country.COUNTRY_NAME}}
                </mat-option>
              </mat-select>
              <div
                *ngIf="regKitForAllRequestedType.get('manufacturingCountry').invalid && (regKitForAllRequestedType.get('manufacturingCountry').dirty || regKitForAllRequestedType.get('manufacturingCountry').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('manufacturingCountry').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Applicant</mat-label>
              <mat-select formControlName="applicant" required *ngIf="formData">
                <mat-option *ngFor='let applicant of formData.ApplicantList' [value]="applicant.ID">
                  {{applicant.NAME}}
                </mat-option>
              </mat-select>
              <div
                *ngIf="regKitForAllRequestedType.get('applicant').invalid && (regKitForAllRequestedType.get('applicant').dirty || regKitForAllRequestedType.get('applicant').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('applicant').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>License Holder</mat-label>
              <mat-select formControlName="licenseHolder" required *ngIf="formData">
                <mat-option *ngFor='let licHolder of formData.licenseHolderList' [value]="licHolder.ID">
                  {{licHolder.NAME}}
                </mat-option>
              </mat-select>
              <div
                *ngIf="regKitForAllRequestedType.get('licenseHolder').invalid && (regKitForAllRequestedType.get('licenseHolder').dirty || regKitForAllRequestedType.get('licenseHolder').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('licenseHolder').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12"
               *ngIf="regKitForAllRequestedType.get('licenseHolder').value === formData.licenseHolderList.length">
            <mat-form-field class="example-full-width inputBesideSelect">
              <mat-label>Other License Holder</mat-label>
              <input type="text" class="form-control" matInput formControlName="licenseHolderTxt"
                     placeholder="Other License Holder" required>
              <div
                *ngIf="regKitForAllRequestedType.get('licenseHolderTxt').invalid && (regKitForAllRequestedType.get('licenseHolderTxt').dirty || regKitForAllRequestedType.get('licenseHolderTxt').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('licenseHolderTxt').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Country of License Holder</mat-label>
              <mat-select formControlName="countryOfLicenseHolder" required *ngIf="formData">
                <mat-option *ngFor='let country of formData.licenseHolderCountryList' [value]="country.ID">
                  {{country.COUNTRY_NAME}}
                </mat-option>
              </mat-select>
              <div
                *ngIf="regKitForAllRequestedType.get('countryOfLicenseHolder').invalid && (regKitForAllRequestedType.get('countryOfLicenseHolder').dirty || regKitForAllRequestedType.get('countryOfLicenseHolder').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('countryOfLicenseHolder').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width inputBesideSelect">
              <mat-label>Trade Mark</mat-label>
              <input type="text" class="form-control" matInput formControlName="tradeMark"
                     placeholder="Trade Mark">
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width inputBesideSelect">
              <mat-label>Storage Place</mat-label>
              <mat-select formControlName="purposeOfUse" *ngIf="formData" [required]="this.selectedRequestedType !== 1 && this.selectedRequestedType !== 2 && this.selectedRequestedType !== 5 && this.selectedRequestedType !== 6? true: false">
                <mat-option *ngFor='let purpose of formData.storagePlaceList' [value]="purpose.ID">
                  {{purpose.STORAGE_PLACE_NAME}}
                </mat-option>
              </mat-select>
              <div
                *ngIf="regKitForAllRequestedType.get('storagePlace').invalid && (regKitForAllRequestedType.get('storagePlace').dirty || regKitForAllRequestedType.get('storagePlace').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('storagePlace').errors.required">
                  this field is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width inputBesideSelect">
              <mat-label>Receipt Number</mat-label>
              <input type="text" class="form-control" matInput formControlName="receiptNumber"
                     placeholder="Receipt Number" required>
              <div
                *ngIf="regKitForAllRequestedType.get('receiptNumber').invalid && (regKitForAllRequestedType.get('receiptNumber').dirty || regKitForAllRequestedType.get('receiptNumber').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptNumber').errors.required">
                  this field is required
                </div>
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptNumber').errors.pattern">
                  this field must be a number
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <mat-form-field class="example-full-width inputBesideSelect">
              <mat-label>Receipt Value</mat-label>
              <input type="text" class="form-control" matInput
                     formControlName="receiptValue"
                     placeholder="Receipt Value" required>
              <div
                *ngIf="regKitForAllRequestedType.get('receiptValue').invalid && (regKitForAllRequestedType.get('receiptValue').dirty || regKitForAllRequestedType.get('receiptValue').touched)"
                class="alert alert-danger">
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptValue').errors.required">
                  this field is required
                </div>
                <div
                  *ngIf="regKitForAllRequestedType.get('receiptValue').errors.pattern">
                  this field must be <strong>Decimal number</strong> as 00.0
                </div>
              </div>
            </mat-form-field>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Product Group fields">
      <div class="mt-5">
        <div class="row">
          <div class="col-12">
            <app-title [smallTitle]="true" [title]="'Product Group Form'"></app-title>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="fill">
                  <mat-label>Group Name</mat-label>
                  <input type="text" class="form-control" matInput
                         formControlName="groupName"
                         placeholder="" required>
                  <div
                    *ngIf="regKitForAllRequestedType.get('groupName').invalid && (regKitForAllRequestedType.get('groupName').dirty || regKitForAllRequestedType.get('groupName').touched)"
                    class="alert alert-danger">
                    <div
                      *ngIf="regKitForAllRequestedType.get('groupName').errors.required">
                      this field is required
                    </div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-12 p-0">
                <div formArrayName="ProductsForKit" class="detailsTable">
                  <div class="col-12">
                    <div *ngFor="let row of ProductGroupsRows().controls; let i=index" [formGroupName]="i">
                      <div class="getProductArea" *ngIf="ProductGroupsRows().controls.length -1 === i">
                        <div class="row">
                          <div class="col-12">
                            <div class="col-12">
                              <app-title [title]="'Add Product For ' + regKitForAllRequestedType.get('groupName').value"
                                         [smallTitle]="true"></app-title>
                            </div>
                          </div>
                        </div>
                        <div class="row p-0 mt-4">
                          <div class="col-6 col-sm-6">
                            <mat-form-field appearance="fill">
                              <mat-label>Product Status</mat-label>
                              <mat-select formControlName="productStatus" *ngIf="formData">
                                <mat-option *ngFor='let type of formData.productStatusList' [value]="type">
                                  {{type}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-12 col-sm-6"
                               *ngIf="row.get('productStatus').value === 'Registered'">
                            <div class="row">
                              <div class="col-6">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Product Notification Number</mat-label>
                                  <input type="text" class="form-control" matInput
                                         formControlName="productNotificationNumber"
                                         placeholder="">
                                </mat-form-field>
                              </div>
                              <div class="col-6 d-flex">
                                <button type="button"
                                        class="btn btn-primary ml-auto mt-sm-3"
                                        [disabled]="!row.get('productNotificationNumber').value"
                                        (click)="applyProduct(row, 'registered', i)">
                                  Apply Product
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-4" *ngIf="row.get('productStatus').value === 'New'">
                            <div class="row p-0">
                              <div class="col-12">
                                <app-product-request-form
                                  [selectedRequestedType]="selectedRequestedType"
                                  [lookupsData]="lookupsData"
                                  [kitProductStatus]="true"
                                  (submitDataOutput)="getDataForNewProduct($event)"
                                ></app-product-request-form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4" *ngIf="allProductsInKit.tableBody.length > 0">
                    <div class="col-12">
                      <app-title [title]="'Kit Products Table'" [smallTitle]="true"></app-title>
                    </div>
                    <div class="col-12 mt-5">
                      <div class="RequestingTable">
                        <app-table-list [data]="allProductsInKit"
                                        [whichTable]="'productsKitList'"
                                        (removeDetailsRowOutput)="removeDetailsRows($event)"
                                        (editDetailedRowOutput)="editTheDetailsRow($event)"
                        ></app-table-list>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Attachments" class="Attachments">
      <div class="mt-5">
        <div class="row">
          <div class="col-12">
            <app-title [smallTitle]="true" [title]="'Attachement'"></app-title>
          </div>
        </div>
        <div class="col-12">
          <div class="row mt-3">
            <div class="col-lg-4 col-sm-6 col-12" *ngFor="let field of attachmentFieldsForKits">
              <div class="form-group">
                <label>{{field.name}}</label>
                <div class="custom-file fileUpload mr-3">
                  <input type="file" class="custom-file-input"
                         aria-describedby="fileHelp"
                         (change)="onFileSelect($event, field.id)">
                  <div
                    *ngIf="regKitForAllRequestedType.get(field.id).invalid && (regKitForAllRequestedType.get(field.id).dirty || regKitForAllRequestedType.get(field.id).touched)"
                    class="alert alert-danger">
                    <div
                      *ngIf="regKitForAllRequestedType.get(field.id).errors.required">
                      this field is required
                    </div>
                  </div>
                  <label class="custom-file-label">
                    {{regKitForAllRequestedType.get(field.id).value ? regKitForAllRequestedType.get(field.id).value.name : 'Choose file'}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
  <div class="row buttonContainer">
    <div class="col-12 d-flex flex-column flex-md-row mt-3">
      <button *ngIf="!formTabs.tabs[0].active"
              type="button"
              class="btn btn-primary btn-sm mr-3 bottomButtons"
              (click)="backToNextTab('FormTabs')">
        Back Forward
      </button>
      <div class="ml-md-auto">
        <button *ngIf="!formTabs.tabs[2].active"
                type="button"
                class="btn btn-primary btn-sm mr-3 bottomButtons"
                (click)="nextToNextTab('FormTabs')">
          Next Forward
        </button>
        <button type="button"
                class="btn btn-primary btn-sm mr-3 bottomButtons"
                (click)="saveData()">
          Save
        </button>
        <button
          *ngIf="formTabs.tabs[2].active"
          type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="!regKitForAllRequestedType.valid">
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
