<div *ngIf="data && data.tableBody.length > 0">
  <div
    *ngIf="whichTable === 'track' || whichTable === 'draft' || whichTable === 'approved' || whichTable === 'rejected'|| whichTable === 'trackRequest' || whichTable === 'batchTable'">
    <app-filters [filterData]="filterData"
                 (selectedFilteredData)="setTheFilteredData($event)"></app-filters>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-12">
    <div class="content-wrapper">
      <div class="table-responsive mt-5">
        <table class="table table-sm table-ordered" *ngIf="data && data.tableBody.length > 0">
          <tr class="headerRow" *ngIf="whichTable === 'draft'">
            <th *ngFor="let request of data.tableHeader; let i = index"
                [ngClass]="{'hide': i === 0 || i === 2 || i === 3 || i === 5}">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
          <i class="fa fa-sort"></i>
        </span>
            </th>
          </tr>
          <tr class="headerRow" *ngIf="whichTable === 'trackRequest'">
            <th *ngFor="let request of data.tableHeader; let i = index"
                [ngClass]="{'hide': i === 0 || i === 2 || i === 3 || i === 5}">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
          <i class="fa fa-sort"></i>
        </span>
            </th>
          </tr>
          <tr class="headerRow" *ngIf="whichTable === 'trackLegacyRequest'">
            <th *ngFor="let request of data.tableHeader; let i = index"
                [ngClass]="{'hide': i === 0 || i === 2 || i === 3 || i === 5}">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
          <i class="fa fa-sort"></i>
        </span>
            </th>
          </tr>
          <tr class="headerRow" *ngIf="whichTable === 'trackGeneralEnquiries'">
            <th *ngFor="let request of data.tableHeader; let i = index"
                [ngClass]="{'hide': i === 0 || i === 2 || i === 3 || i === 5}">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
          <i class="fa fa-sort"></i>
        </span>
            </th>
          </tr>
          <tr class="headerRow" *ngIf="whichTable === 'track'">
            <th *ngFor="let request of data.tableHeader; let i = index"
                [ngClass]="{'hide': i === 0 || i === 2 || i === 3 || i === 5}">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
          <i class="fa fa-sort"></i>
        </span>
            </th>
          </tr>
          <tr class="headerRow" *ngIf="whichTable === 'approved'">
            <th *ngFor="let request of data.tableHeader; let i = index"
                [ngClass]="{'hide': i === 1 || i === 3 }">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
          <i class="fa fa-sort"></i>
        </span>
            </th>
          </tr>
          <tr class="headerRow" *ngIf="whichTable === 'legacyOldProduct'">
            <th *ngFor="let request of data.tableHeader; let i = index"
                [ngClass]="{'hide': i === 1 || i === 3 }">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
          <i class="fa fa-sort"></i>
        </span>
            </th>
          </tr>
          <tr class="headerRow" *ngIf="whichTable === 'rejected'">
            <th *ngFor="let request of data.tableHeader; let i = index"
                [ngClass]="{'hide': i === 1 || i === 3 }">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
          <i class="fa fa-sort"></i>
        </span>
            </th>
          </tr>
          <tr class="headerRow"
              *ngIf="whichTable === 'newRequestForPackaging' || whichTable === 'newRequestForDetails' || whichTable === 'productsKitList'">
            <th *ngFor="let request of data.tableHeader; let i = index">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
          <i class="fa fa-sort"></i>
        </span>
            </th>
          </tr>
          <tr class="headerRow"
              *ngIf="whichTable === 'manufacturing'">
            <th *ngFor="let request of data.tableHeader; let i = index">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
                <i class="fa fa-sort"></i>
              </span>
            </th>
          </tr>
          <tr class="headerRow"
              *ngIf="whichTable === 'notificationList'">
            <th *ngFor="let request of data.tableHeader; let i = index">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
                <i class="fa fa-sort"></i>
              </span>
            </th>
          </tr>
          <tr class="headerRow"
              *ngIf="whichTable === 'batchTable'">
            <th *ngFor="let request of data.tableHeader; let i = index">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
                <i class="fa fa-sort"></i>
              </span>
            </th>
          </tr>
          <tr class="headerRow"
              *ngIf="whichTable === 'newIngrediantTable'">
            <th *ngFor="let request of data.tableHeader; let i = index">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
                <i class="fa fa-sort"></i>
              </span>
            </th>
          </tr>
          <tr class="headerRow"
              *ngIf="whichTable === 'newProductForInvoice'">
            <th *ngFor="let request of data.tableHeader; let i = index">
              {{request}}
              <span (click)="sortBy(sortStatus, request)">
                <i class="fa fa-sort"></i>
              </span>
            </th>
          </tr>
          <tr
            *ngFor="let request of this.dataAfterFilters.length> 0 ? this.dataAfterFilters : returnedArray && returnedArray.length > 0 ? returnedArray : data.tableBody; let i = index">
            <td colspan="7" *ngIf="whichTable === 'trackRequest'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td class="hide">{{request.ID}}</td>
                          <td>{{request.SubmmittionDate | date}}</td>
                          <td class="hide">{{request.NameEN}}</td>
                          <td class="hide">{{request.NameAR}}</td>
                          <td>{{request.Status}}</td>
                          <td class="hide">{{request.Track_type}}</td>
                          <td><i (click)="editProduct(request)" class="fa fa-edit"></i></td> <!--  -->
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Request id :</label>
                        <span>{{request.ID}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Submission date :</label>
                        <span>{{request.SubmmittionDate | date}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product English name :</label>
                        <span>{{request.NameEN}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product Arabic name :</label>
                        <span>{{request.NameAR}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label ">Status :</label>
                        <span>{{request.Status}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Track Type :</label>
                        <span>{{request.Track_type}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="7" *ngIf="whichTable === 'trackLegacyRequest'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td class="hide">{{request.OLD_NOTIFICATION_NUMBER}}</td>
                          <td>{{request.SubmmittionDate | date}}</td>
                          <td class="hide">{{request.NameEN}}</td>
                          <td class="hide">{{request.NameAR}}</td>
                          <td>{{request.Status}}</td>
                          <td class="hide">{{request.Track_type}}</td>
                          <td><i (click)="editProduct(request)" class="fa fa-edit"></i></td> <!--  -->
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Old Notification Number :</label>
                        <span>{{request.OLD_NOTIFICATION_NUMBER}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Submission date :</label>
                        <span>{{request.SubmmittionDate | date}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product English name :</label>
                        <span>{{request.NameEN}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product Arabic name :</label>
                        <span>{{request.NameAR}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label ">Status :</label>
                        <span>{{request.Status}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Track Type :</label>
                        <span>{{request.Track_type}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="6" *ngIf="whichTable === 'track'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer {{request.colorFlag}}" [expanded]="step === i"
                                     (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td class="hide">{{request.ID}}</td>
                          <td>{{request.SubmmittionDate | date}}</td>
                          <td class="hide">{{request.NameEN}}</td>
                          <td class="hide">{{request.NameAR}}</td>
                          <td>{{request.Status}}</td>
                          <td class="hide">{{request.Track_type}}</td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Request id :</label>
                        <span>{{request.ID}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Submission date :</label>
                        <span>{{request.SubmmittionDate | date}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product English name :</label>
                        <span>{{request.NameEN}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product Arabic name :</label>
                        <span>{{request.NameAR}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label ">Status :</label>
                        <span>{{request.Status}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Track Type :</label>
                        <span>{{request.Track_type}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="5" *ngIf="whichTable === 'trackGeneralEnquiries'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td class="hide">{{request.requestID}}</td>
                          <td>{{request.submitionDate | date}}</td>
                          <td class="hide">{{request.title}}</td>
                          <td>{{request.status}}</td>
                          <td class="hide">{{request.description}}</td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Request id :</label>
                        <span>{{request.requestID}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Submission date :</label>
                        <span>{{request.submitionDate | date}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Title :</label>
                        <span>{{request.title}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label ">Status :</label>
                        <span>{{request.status}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Description :</label>
                        <span>{{request.description}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="7" *ngIf="whichTable === 'draft'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="table-responsive">
                        <table class="table table-sm tableDetailsCont">
                          <tr>
                            <td class="hide">{{request.ID}}</td>
                            <td>{{request.SubmmittionDate | date}}</td>
                            <td class="hide">{{request.NameEN}}</td>
                            <td class="hide">{{request.NameAR}}</td>
                            <td>{{request.Status}}</td>
                            <td class="hide">{{request.Track_type}}</td>
                            <td (click)="editProduct(request)"><i class="fa fa-edit"></i></td>
                          </tr>
                        </table>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Request id :</label>
                        <span>{{request.ID}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Submission date :</label>
                        <span>{{request.SubmmittionDate}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product English name :</label>
                        <span>{{request.NameEN}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product Arabic name :</label>
                        <span>{{request.NameAR}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label ">Status :</label>
                        <span>{{request.Status}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Track Type :</label>
                        <span>{{request.Track_type}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="7" *ngIf="whichTable === 'approved'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer {{request.colorFlag}}" [expanded]="step === i"
                                     (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.NotificationNo}}</td>
                          <td class="hide">{{request.SubmmittionDate | date}}</td>
                          <td>{{request.NameEN}}</td>
                          <td class="hide">{{request.NameAR}}</td>
                          <td>{{request.actionStatus}} <strong>{{request.ID}}</strong></td>
                          <td (click)="editProduct(request.ID)"><i class="fa fa-edit"></i></td>
                          <td (click)="addBatch(request.NotificationNo)"><i class="fas fa-cart-plus"></i></td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label">Notification number :</label>
                        <span>{{request.NotificationNo}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label">Submission date :</label>
                        <span>{{request.SubmmittionDate}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label ">Product English name :</label>
                        <span>{{request.NameEN}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label">Product Arabic name :</label>
                        <span>{{request.NameAR}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="6" *ngIf="whichTable === 'legacyOldProduct'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer {{request.colorFlag}}" [expanded]="step === i"
                                     (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.oldNotificationNo}}</td>
                          <td class="hide">{{request.dueDate | date}}</td>
                          <td>{{request.productEnglishName}}</td>
                          <td class="hide">{{request.productArabicName}}</td>
                          <td (click)="editProduct(request)"><i class="fa fa-edit"></i></td>
                          <td (click)="addBatch(request.oldNotificationNo)"><i class="fas fa-cart-plus"></i></td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label">Notification number :</label>
                        <span>{{request.oldNotificationNo}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label">Submission date :</label>
                        <span>{{request.dueDate}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label ">Product English name :</label>
                        <span>{{request.productEnglishName}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label">Product Arabic name :</label>
                        <span>{{request.productArabicName}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="5" *ngIf="whichTable === 'rejected'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer {{request.colorFlag}}" [expanded]="step === i"
                                     (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.NotificationNo}}</td>
                          <td class="hide">{{request.SubmmittionDate | date}}</td>
                          <td>{{request.NameEN}}</td>
                          <td class="hide">{{request.NameAR}}</td>
                          <td>{{request.actionStatus}} <strong>{{request.ID}}</strong></td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label">Notification number :</label>
                        <span>{{request.NotificationNo}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label">Submission date :</label>
                        <span>{{request.SubmmittionDate}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label ">Product English name :</label>
                        <span>{{request.NameEN}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-3">
                        <label class="label">Product Arabic name :</label>
                        <span>{{request.NameAR}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="5" *ngIf="whichTable === 'newRequestForDetails'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.colour}}</td>
                          <td>{{request.fragrance}}</td>
                          <td>{{request.flavor}}</td>
                          <td>{{request.barCode}}</td>
                          <td>
                      <span class="mr-2" (click)="editDetailedRowFunction(i)">
                        <i class="fa fa-edit"></i>
                      </span>
                            <span (click)="removeDetailsRowFunction(i,request.PRODUCT_ID)">
                        <i class="fa fa-trash"></i>
                      </span>
                          </td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Colour :</label>
                        <span>{{request.colour}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Fragrance :</label>
                        <span>{{request.fragrance}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label ">Flavor :</label>
                        <span>{{request.flavor}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">BarCode :</label>
                        <span>{{request.barCode}}</span>
                      </div>
                      <div class="col-12 mt-4" *ngIf="request.ingrediantDetails.length > 0">
                        <div class="row">
                          <div class="col-12">
                            <app-title [title]="'Ingrediant Table'" [smallTitle]="true"></app-title>
                          </div>
                          <div class="col-12 mt-3">
                            <div class="table-responsive">
                              <table class="table table-sm table-ordered">
                                <tr class="headerRow">
                                  <th>
                                    Ingrediant
                                    <span (click)="sortBy(sortStatus, request)">
                            <i class="fa fa-sort"></i>
                          </span>
                                  </th>
                                  <th>
                                    Concentrations
                                    <span (click)="sortBy(sortStatus, request)">
                            <i class="fa fa-sort"></i>
                          </span>
                                  </th>
                                  <th>
                                    Function
                                    <span (click)="sortBy(sortStatus, request)">
                            <i class="fa fa-sort"></i>
                          </span>
                                  </th>
                                  <th>
                                    Actions
                                  </th>
                                </tr>
                                <tr *ngFor="let requestDetails of request.ingrediantDetails; let index = index">
                                  <td colspan="4">
                                    <mat-accordion>
                                      <mat-expansion-panel class="areaContainer" [expanded]="false" hideToggle
                                                           disabled="true">
                                        <mat-expansion-panel-header class="insidePanelHeader">
                                          <mat-panel-title>
                                            <table class="table table-sm tableDetailsCont">
                                              <tr>
                                                <td>{{requestDetails.ingrediant}}</td>
                                                <td>{{requestDetails.concentrations}}</td>
                                                <td>{{requestDetails.function}}</td>
                                                <td><span
                                                  (click)="removeIngrediantDetailsRowFunction(index, i, '', requestDetails.Ingredient_ID)"><i
                                                  class="fa fa-trash"></i></span></td>
                                              </tr>
                                            </table>
                                          </mat-panel-title>
                                        </mat-expansion-panel-header>
                                      </mat-expansion-panel>
                                    </mat-accordion>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="4" *ngIf="whichTable === 'newRequestForPackaging'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.volumes}}</td>
                          <td>{{request.unitOfMeasure}}</td>
                          <td>{{request.typeOfPackaging}}</td>
                          <td>
                      <span class="mr-2" (click)="editPackagingRowFunction(i)">
                        <i class="fa fa-edit"></i>
                      </span>
                            <span (click)="removePackagingRowFunction(i, request.volumesID)">
                        <i class="fa fa-trash"></i>
                      </span>
                          </td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Volumes :</label>
                        <span>{{request.volumes}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Unit of Measure :</label>
                        <span>{{request.unitOfMeasure}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Type of Packaging :</label>
                        <span>{{request.typeOfPackaging}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Packaging Description :</label>
                        <span>{{request.packagingDescription}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="6" *ngIf="whichTable === 'productsKitList'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.NotificationNo}}</td>
                          <td>{{request.productEnglishName}}</td>
                          <td>{{request.manufacturingCompany}}</td>
                          <td>{{request.manufacturingCountry}}</td>
                          <td>{{request.applicant}}</td>
                          <td>
                            <span (click)="removeProductFromKitFunction(i)">
                              <i class="fa fa-trash"></i>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product Notification Number :</label>
                        <span>{{request.NotificationNo}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product English Name :</label>
                        <span>{{request.productEnglishName}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label ">Manufacturing Company :</label>
                        <span>{{request.manufacturingCompany}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Manufacturing Country :</label>
                        <span>{{request.manufacturingCountry}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Applicant :</label>
                        <span>{{request.applicant}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">license Holder :</label>
                        <span>{{request.licenseHolder}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Physical State :</label>
                        <span>{{request.physicalState}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">shelfLife :</label>
                        <span>{{request.shelfLife}}</span>
                      </div>
                      <div class="col-12 mt-4" *ngIf="request.detailsTable.length > 0">
                        <div class="row">
                          <div class="col-12">
                            <app-title [title]="'Product Details Table'" [smallTitle]="true"></app-title>
                          </div>
                          <div class="col-12 mt-3">
                            <div class="table-responsive">
                              <table class="table table-sm table-ordered">
                                <tr class="headerRow">
                                  <th>
                                    Colour
                                    <span (click)="sortBy(sortStatus, request)">
                            <i class="fa fa-sort"></i>
                          </span>
                                  </th>
                                  <th>
                                    Fragrance
                                    <span (click)="sortBy(sortStatus, request)">
                            <i class="fa fa-sort"></i>
                          </span>
                                  </th>
                                  <th>
                                    Flavor
                                    <span (click)="sortBy(sortStatus, request)">
                                <i class="fa fa-sort"></i>
                              </span>
                                  </th>
                                  <th>
                                    BarCode
                                    <span (click)="sortBy(sortStatus, request)">
                                <i class="fa fa-sort"></i>
                              </span>
                                  </th>
                                </tr>
                                <tr *ngFor="let requestDetails of request.detailsTable; let index = index">
                                  <td colspan="5">
                                    <mat-accordion>
                                      <mat-expansion-panel class="areaContainer" [expanded]="false" hideToggle>
                                        <mat-expansion-panel-header class="insidePanelHeader">
                                          <mat-panel-title>
                                            <table class="table table-sm tableDetailsCont">
                                              <tr>
                                                <td>{{requestDetails.colour}}</td>
                                                <td>{{requestDetails.fragrance}}</td>
                                                <td>{{requestDetails.flavor}}</td>
                                                <td>{{requestDetails.barCode}}</td>
                                              </tr>
                                            </table>
                                          </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="detailsContainer pt-4">
                                          <div class="row">
                                            <div class="col-12 col-sm-6 col-md-4">
                                              <label class="label">Colour :</label>
                                              <span>{{requestDetails.colour}}</span>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4">
                                              <label class="label">Fragrance :</label>
                                              <span>{{requestDetails.fragrance}}</span>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4">
                                              <label class="label ">Flavor :</label>
                                              <span>{{requestDetails.flavor}}</span>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4">
                                              <label class="label">BarCode :</label>
                                              <span>{{requestDetails.barCode}}</span>
                                            </div>
                                            <div class="col-12 mt-4"
                                                 *ngIf="requestDetails.ingrediantDetails.length > 0">
                                              <div class="row">
                                                <div class="col-12">
                                                  <app-title [title]="'Ingrediant Table'"
                                                             [smallTitle]="true"></app-title>
                                                </div>
                                                <div class="col-12 mt-3">
                                                  <div class="table-responsive">
                                                    <table class="table table-sm table-ordered">
                                                      <tr class="headerRow">
                                                        <th>
                                                          Ingrediant
                                                          <span (click)="sortBy(sortStatus, request)">
                                                      <i class="fa fa-sort"></i>
                                                    </span>
                                                        </th>
                                                        <th>
                                                          Concentrations
                                                          <span (click)="sortBy(sortStatus, request)">
                                                      <i class="fa fa-sort"></i>
                                                    </span>
                                                        </th>
                                                        <th>
                                                          Function
                                                          <span (click)="sortBy(sortStatus, request)">
                                                      <i class="fa fa-sort"></i>
                                                    </span>
                                                        </th>
                                                      </tr>
                                                      <tr
                                                        *ngFor="let requestDetailsIngrediant of requestDetails.ingrediantDetails; let indexChild = index">
                                                        <td colspan="3">
                                                          <mat-accordion>
                                                            <mat-expansion-panel class="areaContainer"
                                                                                 [expanded]="false"
                                                                                 hideToggle
                                                                                 disabled="true">
                                                              <mat-expansion-panel-header class="insidePanelHeader">
                                                                <mat-panel-title>
                                                                  <table class="table table-sm tableDetailsCont">
                                                                    <tr>
                                                                      <td>{{requestDetailsIngrediant.ingrediant}}</td>
                                                                      <td>{{requestDetailsIngrediant.concentrations}}</td>
                                                                      <td>{{requestDetailsIngrediant.function}}</td>
                                                                    </tr>
                                                                  </table>
                                                                </mat-panel-title>
                                                              </mat-expansion-panel-header>
                                                            </mat-expansion-panel>
                                                          </mat-accordion>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </mat-expansion-panel>
                                    </mat-accordion>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="2" *ngIf="whichTable === 'manufacturing'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.name}}</td>
                          <td>{{request.country}}</td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Manufacturing Company Name :</label>
                        <span>{{request.name}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Manufacturing Country :</label>
                        <span>{{request.country}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="6" *ngIf="whichTable === 'notificationList'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm notificationListTable">
                        <tr>
                          <td>{{request.notification_no}}</td>
                          <td>{{request.comments}}</td>
                          <td>{{request.requestTypeName}}</td>
                          <td>{{request.notification_time | date}}</td>
                          <td>{{request.productName}}</td>
                          <td>
                            <button *ngIf="!request.f_seen" type="button" class="btn btn-primary"
                                    (click)="request.f_seen =! request.f_seen; seenNotificationFunction(request.id)">
                              <i class="fas fa-eye"></i> Read
                            </button>
                            <button *ngIf="request.f_seen" type="button" class="btn btn-primary active">
                              <i class="fas fa-eye-slash"></i> Unread
                            </button>
                          </td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Notificaiton Number :</label>
                        <span>{{request.notification_no}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Notification comment :</label>
                        <span>{{request.comments}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Request Type Name :</label>
                        <span>{{request.requestTypeName}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Notification date :</label>
                        <span>{{request.notification_time | date}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product Name :</label>
                        <span>{{request.productName}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Notification From :</label>
                        <span>{{request.from_role}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Notification To :</label>
                        <span>{{request.to_role}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="5" *ngIf="whichTable === 'batchTable'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.batchNumber}}</td>
                          <td>{{request.productID}}</td>
                          <td>{{request.submitionDate | date}}</td>
                          <td>{{request.productionDate | date}}</td>
                          <td>{{request.expirationDate | date}}</td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Batch Id :</label>
                        <span>{{request.id}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Batch Number :</label>
                        <span>{{request.batchNumber}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product Id :</label>
                        <span>{{request.productID}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Submission Date :</label>
                        <span>{{request.submitionDate | date}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Production Date :</label>
                        <span>{{request.productionDate | date}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Expiration Date :</label>
                        <span>{{request.expirationDate | date}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Notification Number :</label>
                        <span>{{request.notificationNumber}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="4" *ngIf="whichTable === 'newIngrediantTable'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.ingrediant}}</td>
                          <td>{{request.concentrations}}</td>
                          <td>{{request.function}}</td>
                          <td>
                             <span class="mr-2" (click)="editDetailedRowFunction(i)">
                              <i class="fa fa-edit"></i>
                            </span>
                            <span (click)="removeIngrediantDetailsRows(i)">
                              <i class="fa fa-trash"></i>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Ingrediant :</label>
                        <span>{{request.ingrediant}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Concentrations :</label>
                        <span>{{request.concentrations}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Function :</label>
                        <span>{{request.function}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="4" *ngIf="whichTable === 'newProductForInvoice'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.notificationNumber}}</td>
                          <td>{{request.productArabicName}}</td>
                          <td>{{request.productEnglishName}}</td>
                          <td>{{request.manufacturingCompany}}</td>
                          <td>{{request.manufacturingCountry}}</td>
                          <td>{{request.batchNo}}</td>
                          <td>{{request.quantity}}</td>
                          <td>{{request.UOM}}</td>
                          <td>
                             <span class="mr-2" (click)="editDetailedRowFunction(i)">
                              <i class="fa fa-edit"></i>
                            </span>
                            <span (click)="removeIngrediantDetailsRows(i)">
                              <i class="fa fa-trash"></i>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Ingrediant :</label>
                        <span>{{request.ingrediant}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Concentrations :</label>
                        <span>{{request.concentrations}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Function :</label>
                        <span>{{request.function}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
          </tr>
        </table>

        <div class="tableAlertContainer" *ngIf="alertNotificationStatus">
          <h1 class="text-uppercase"> You had the wrong data for filtering </h1>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center mt-3" *ngIf="data && data.tableBody.length > 0">
      <pagination *ngIf="contentArray.length > 0"
                  [totalItems]="contentArray.length"
                  (pageChanged)="pageChanged($event)"></pagination>

      <div class="colorSchema ml-auto"
           *ngIf="(whichTable === 'rejected' || whichTable === 'approved' || whichTable === 'track') && contentArray.length > 0">
        <h4>Color guide for Appealed Product</h4>
        <ul>
          <li class="warning" tooltip="warning products" placement="bottom"></li>
          <li class="danger" tooltip="danger products" placement="bottom"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
