<div class="row">
  <div class="col-12">
    <div class="amountOfAllRequests">
      <ul>
        <li *ngFor="let request of numberOFAllRequestObject">
          <div class="d-flex align-items-center justify-content-center">
            <div class="icon">
              <i class="{{request.icon}}"></i>
            </div>
            <div class="title">
              <h4>{{request.title}}</h4>
              <p>
                <span class="NumberValue" #count>{{request.numberOfRequest}}</span>
                <span class="numberTitle">{{request.numberOfRequest > 1 ? 'requests' : 'request' }}</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-sm-9">
        <svg width="900" height="500"></svg>
      </div>
    </div>
  </div>
</div>



