<div class="whiteContainer">
  <div class="row">
    <div class="col-12">
      <app-title [title]="'Create Request for General Enquiries'" [bigTitle]="true"></app-title>
    </div>
    <div class="col-12 mt-5">
      <div class="formTable">
        <div class="row">
          <div class="col-12">
            <div class="row d-flex">
              <div class="col-lg-4 col-sm-6 col-12 ml-auto">
                <mat-form-field class="example-full-width ">
                  <mat-label>Estimated Value</mat-label>
                  <input type="text" class="form-control" matInput [(ngModel)]="estimatedValue"
                         placeholder="Estimated Value"
                         [readonly]="true">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-12">
            <form class="mt-2" name="form" class="example-form" method="post"
                  [formGroup]="generalEnquiriesForm"
                  (keydown.enter)="$event.preventDefault()"
                  (ngSubmit)="onSubmit()" novalidate>
              <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input type="text" class="form-control" matInput formControlName="title"
                           placeholder="Title" required>
                    <div
                      *ngIf="generalEnquiriesForm.get('title').invalid && (generalEnquiriesForm.get('title').dirty || generalEnquiriesForm.get('title').touched)"
                      class="alert alert-danger">
                      <div
                        *ngIf="generalEnquiriesForm.get('title').errors.required">
                        this field is required
                      </div>
                      <div
                        *ngIf="generalEnquiriesForm.get('title').errors.pattern">
                        this field must't start with Number and must be in English
                      </div>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <mat-form-field class="example-full-width inputBesideSelect">
                    <mat-label>Receipt Number</mat-label>
                    <input type="text" class="form-control" matInput formControlName="receiptNumber"
                           placeholder="Receipt Number" required>
                    <div
                      *ngIf="generalEnquiriesForm.get('receiptNumber').invalid && (generalEnquiriesForm.get('receiptNumber').dirty || generalEnquiriesForm.get('receiptNumber').touched)"
                      class="alert alert-danger">
                      <div
                        *ngIf="generalEnquiriesForm.get('receiptNumber').errors.required">
                        this field is required
                      </div>
                      <div
                        *ngIf="generalEnquiriesForm.get('receiptNumber').errors.pattern">
                        this field must not start with number
                      </div>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <mat-form-field class="example-full-width inputBesideSelect">
                    <mat-label>Receipt Value</mat-label>
                    <input type="text" class="form-control" matInput
                           (change)="getDecimalValue(generalEnquiriesForm.get('receiptValue').value)"
                           formControlName="receiptValue"
                           placeholder="Receipt Value" required>
                    <div
                      *ngIf="generalEnquiriesForm.get('receiptValue').invalid && (generalEnquiriesForm.get('receiptValue').dirty || generalEnquiriesForm.get('receiptValue').touched)"
                      class="alert alert-danger">
                      <div
                        *ngIf="generalEnquiriesForm.get('receiptValue').errors.required">
                        this field is required
                      </div>
                      <div
                        *ngIf="generalEnquiriesForm.get('receiptValue').errors.pattern">
                        this field must be <strong>Decimal number</strong> as 00.0
                      </div>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-6 col-12" *ngFor="let field of attachmentFields">
                  <div class="form-group" *ngIf="field.enable">
                    <label>
                      {{field.name}}
                      <span class="requiredStar" *ngIf="field.required">*</span>
                    </label>
                    <div class="custom-file fileUpload mr-3" id="customFile"
                         [ngClass]="{'required': (generalEnquiriesForm.get(field.id).invalid && attachmentRequiredStatus) || field.attachmentTypeStatus === 'No'}">
                      <input type="file" class="custom-file-input" [id]="field.id"
                             aria-describedby="fileHelp"
                             (change)="onFileSelect($event, field.id)"
                             [required]="field.required ? 'required' : ''">
                      <div class="d-flex alert alert-danger"
                           *ngIf="(generalEnquiriesForm.get(field.id).invalid && attachmentRequiredStatus) || field.attachmentTypeStatus === 'No'">
                        <div class="ml-auto" *ngIf="field.attachmentTypeStatus === 'No'">
                          this file must be as PDF and less than 5MB.
                        </div>
                        <div class="ml-auto"
                             *ngIf="generalEnquiriesForm.get(field.id).invalid && attachmentRequiredStatus">
                          <div *ngIf="generalEnquiriesForm.get(field.id).errors.required">
                            this field is required
                          </div>
                        </div>
                      </div>
                      <label class="custom-file-label" [for]="field.id">
                        {{field.fileName ? field.fileName : 'Choose file'}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea class="form-control" matInput formControlName="description"
                              maxlength="4000"
                              placeholder="Description" required></textarea>
                    <div
                      *ngIf="generalEnquiriesForm.get('description').invalid && (generalEnquiriesForm.get('description').dirty || generalEnquiriesForm.get('description').touched)"
                      class="alert alert-danger">
                      <div
                        *ngIf="generalEnquiriesForm.get('description').errors.required">
                        this field is required
                      </div>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="d-flex">
                    <button
                      type="submit"
                      class="btn btn-primary btn-sm ml-auto btnSubmit">
                      <span>Submit</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<alert type="success" (onClosed)="onClosed()" *ngIf="alertNotificationStatus">
  <strong>Thank You</strong> <br> {{alertNotification.msg}}
</alert>

<alert type="danger" class="AlertForAllRequests" dismissible="true" (onClosed)="onClosedErrorAlert()"
       *ngIf="alertErrorNotificationStatus">
  <strong>Error Message</strong> <br> {{alertErrorNotification.msg}}
</alert>

<ng-template #successSubmissionModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Successful Submission</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeSuccessSubmissionModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modalContainer">
      <h2>
        <span>
          <i class="fas fa-check-circle"></i>
        </span>
      </h2>
      <h3>
        Thank you for submission
      </h3>
      <h3>
        Your request id is
        <b>{{dataInAnyError.ID}}</b>
      </h3>
    </div>
  </div>
</ng-template>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>
